<div class="admin">
	<h1>Admin - Rooms</h1>
	<table>
		<tr>
			<th>number</th>
			<th>creator</th>
			<th>dateCreated</th>
			<th>dateModified</th>
		</tr>
		{{#each user}}
		<tr>
			<td>xxx</td>
			<td>{{this.creatorID}}</td>
			<td>{{this.dateCreated}}</td>
			<td>{{this.dateModified}}</td>
		</tr>
		{{/each}}
	</table>
</div>