<h1>Admin - Users</h1>
<table>
	<tr>
		<th>email</th>
		<th>firstName</th>
		<th>lastName</th>
		<th>online</th>
		<th>room</th>
	</tr>
	{{#each user}}
	<tr>
		<td>{{this.email}}</td>
		<td>{{this.firstName}}</td>
		<td>{{this.lastName}}</td>
		<td>xxx</td>
		<td>xxx</td>
	</tr>
	{{/each}}
</table>