<section id="myProfile" class="view">
	<div class="content">
		<a href="#/edit-profile" class="route editBtn">Edit</a>


		<article>
			<h3 class="label">Grade Level:</h3>
			<div class="results">
				{{user.gradeLevel}}
			</div>
		</article>
		<article>
			<h3 class="label">Interests:</h3>
			<div class="results">
				{{user.interests}}
			</div>
		</article>
		<article>
			<h3 class="label">List of Co-Learners:</h3>
			<div class="results">
				{{user.coLearners}}
			</div>
		</article>

		<a href="/logout" class="logoutBtn btn">Logout</a>
	</div>
</section>