<footer id="mainFooter">
	<div class="content">
		<ul>
			<li>
				<a id="tosLink" href="/terms-of-service">Terms of Service</a>
			</li>
			<li>
				<a id="privacyPolicyLink" href="/privacy-policy">Privacy Policy</a>
			</li>
			<li>
				<a id="aboutLink" href="/about">About</a>
			</li>
		</ul>
	</div>
</footer>
<div class="modalWrap" id="modalWrap">
	<div class="modalContent">
		<a href="/" class="closeBtn">close</a>
		{{> modals/terms }}
		{{> modals/privacy }}
		{{> modals/about }}
		
		{{> modals/alerts }}
	</div>
</div>
		