<footer>
	<div class="content">
		<ul>
			<li>
				<a id="tosLink" data-toggle="modal" data-target="#metamodal-tos" href="/terms-of-service">Terms of Service</a>
			</li>
			<li>
				<a id="privacyPolicyLink" data-target="#metamodal-pp" data-toggle="modal" href="/privacy-policy">Privacy Policy</a>
			</li>
			<li>
				<a id="aboutLink" data-toggle="modal" data-target="#metamodal-about" href="/about">About</a>
			</li>
		</ul>
	</div>
</footer>

{{> modals/terms }}
{{> modals/privacy }}
{{> modals/about }}