<header id="mainHeader">
	<div class="content">
		<a href="#/videos" data-title="videos" class="logo route tooltip">
			<div class="marker"></div>
			<div id="headerTitle" class="title">
				<h1 class="title">Open Path</h1>
			</div>
		</a>
		<nav class="main">
			<ul>
				<li class="invite">
					<a ui-sref="invite" class="tooltip" data-title="Add Participants"></a>
				</li>
				<li class="events">
					<a ui-sref="events" class="tooltip" data-title="Events"></a>
				</li>
				<li class="profile">
					<a ui-sref="profile" class="tooltip" data-title="Profile"><span class="badge">6</span></a>
				</li>
			</ul>
		</nav>
	</div>
</header>