<header>
	<div class="content">
		<a href="#/main" data-toggle="tooltip" title="videos" class="logo">
			<span>Open Path</span>
		</a>
		<nav class="main">
			<ul>
				<li class="invite">
					<a href="#/invite" data-toggle="tooltip" title="Add Participants"></a>
				</li>
				<li class="events">
					<a href="#/events" data-toggle="tooltip" title="Events"></a>
				</li>
				<li class="profile">
					<a href="#/profile" data-toggle="tooltip" title="Profile"><span class="badge">6</span></a>
				</li>
			</ul>
		</nav>
	</div>
</header>