<div id="intro">
    <h1>Open Path</h1>

    <div class="callout toggle">
        <h2>What do you want to learrn?</h2>
        <p>Chart your learning path through exhibits, tours, and special events</p>
        <button id="loginBtn">login</button>  or 
        <button id="signupBtn">signup</button>
    </div> 

    <div class="login toggle">
        <form action="/login" method="post">
            <div>
                <label for="email">Email:</label>
                <input id="email" type="text" name="email"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <div>
                <input type="submit" value="Log In"/>
            </div>
        </form>
    </div>

    <div class="signup toggle">
        <form action="/signup" method="post">
            <div>
                <label for="email">Email:</label>
                <input id="email" type="text" name="email"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <div>
                <input type="submit" value="Sign Up"/>
            </div>
        </form>
    </div>


</div>

