<section class="page" id="invite">
	<section id="inviteView" class="view">
		<div class="content">
			<h1>Invite Participants</h1>
			<form action="/email" method="post">
				<fieldset>
					<label>Email Address</label>
					<input type="text" name="to" placeholder="someone@somewhere.com">
					{{!--
					<input type="hidden" name="subject" value="Open Path Invitation from {{#if user.firstName }} {{user.firstName}} {{user.lastName}} {{else}} {{user.email}} {{/if}}">
					--}}
				</fieldset>
				<fieldset>
					<textarea rows="10" name="inviteMsg" id="inviteMsg">
					</textarea>
				</fieldset>
				<fieldset>
					<input type="submit" class="btn" value="Send" />
				</fieldset>
			</form>

		</div>
	</section>
</section>