<h1>Open Path</h1>


<h2>Login</h2>


<form action="/login" method="post">
    <div>
        <label for="email">Email:</label>
        <input id="email" type="text" name="email"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>