<section class="page" id="profile">

	<nav class="subnav">
		<div class="content">
		{{!--
			{{#if user.firstName }}
				<h1>{{user.firstName}} {{user.lastName}}</h1>
			{{else}}
				<h1>{{user.email}}</h1>
			{{/if}}
		--}}

		    <ul>
				<li><a href="#/profile" class="route">Profile</a></li>
		        <li><a href="#/myPath" class="route">My Path</a></li>
		        <li><a href="#/notifications" class="route">Notifications</a></li>
		        <li><a href="#/settings" class="route">Settings</a></li>
		    </ul>
		</div>
	</nav>

	{{> profile/myProfile }}
	{{> profile/editProfile }}
	{{> profile/myPath }}
	{{> profile/notifications }}
	{{> profile/settings }}

	

</section>

