{{#if user}}
	
	<div id="home">

		{{> header }}

		{{> videos }}
		{{> invite }}
		{{> events }}
		{{> profile }}

		<!-- TODO remove -->
		<div class="output">
			<p>user id = {{user._id}}</p>
			<p>event id = {{event._id}}</p>
			<p>room id = {{room._id}}</p>
		</div>


	</div>

	<!--scripts-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>

	<script src="js/libraries/handlebars-v1.3.0.js"></script>

	<script src="js/main.js"></script>
	<script src="js/router.js"></script>
	<script src="js/utils.js"></script>
	
	<script src="js/classes/mvc/super/mvc.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/classes/mvc/model.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/classes/mvc/view.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/classes/mvc/controller.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/classes/mvc/collection.js" type="text/javascript" charset="utf-8"></script>



{{else}}
	
	<div id="intro">

		{{> intro }}
		
	</div>

	
	<!--scripts-->
	<script src="js/intro.js"></script>

{{/if}}

<!-- //TODO
{{> footer }}
-->
