{{#if user}}
	<div id="home">

		{{> header }}


		<h2>Home - hey again <span>{{user.email}}</span></h2>

		<video id="myvideo" width="320" height="240"></video>
		<video id="othervideo" width="320" height="240"></video>

		{{> editProfile }}

		
	</div>
{{else}}

	{{> intro }}

{{/if}}