{{#if user}}
	<div id="home">

		{{> header }}


		<h2>Home - hey again <span>{{user.email}}</span></h2>

		
		{{> videos }}
		{{> invite }}
		{{> events }}
		{{> profile }}

		
	</div>
{{else}}

	{{> intro }}

{{/if}}