{% extends 'layout.html' %}

{% block title %}OpenPath{% endblock %}

{% block head %}
    {% parent %}
	<link href="css/home.css" rel="stylesheet" type="text/css">
	<script>
	$.fn.serializeObject = function(){
		console.log('serializeObject');
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
  };
		var validateEmail = function(email) { 
	    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
	    return re.test(email);
	}
	var validateInvites = function(){
		$( "#invitations ol input").each(function() {
		  var isValid = validateEmail($(this).val());
		  console.log(isValid);
		  // redirect to main 
		  window.location = "/main";
		});
	  };
		var sendGuestEmail = function(){
		var xhr = new XMLHttpRequest();
		  xhr.open("GET", "/auth/guest", true);
		  xhr.addEventListener("loadend", function(e) {
		    var data = JSON.parse(this.responseText);
		    if (data && data.status === "okay") {
				window.location = "/main";
		    }
		  }, false);
		  xhr.send();
		};
		
	  $(document).ready(function() {
		$('#loginbtn').mouseup(function() {
			navigator.id.request();
		});
		$('#logoutbtn').mouseup(function() {
			navigator.id.logout();
		});
		$('#invitebtn').mouseup(function() {
			validateInvites();
		});
		// display guest login form
		$('#guestbtn').mouseup(function() {
			$("#login").fadeOut();
			$("#guestlogin").fadeIn();
		});
		// validate email and show main
		$('#guestloginbtn').mouseup(function() {
			var email = $('#email').val();
			var isValid = validateEmail(email);
			if(!isValid){
				alert("Sorry, your email is invalid. Please try again");
			}else{
				sendGuestEmail();
			};
		});
		
	  });
	</script>
{% endblock %}

{% block content %}

<header id="mainheader">
    <div class="inner">
		<div id="intro">
            <img id="logo" src="img/home/openpath.png" alt="OpenPath">

			<!-- LOGIN -->
			
			<div id="login">
	            <h1>What do you want to learn?</h1>
	            <p>OpenPath is your key to exhibits, tours, and special events tailored to your goals.</p>
				<div class="loginoptions">
				<div class="option1"><a id="loginbtn" class="persona-button"><span>Sign in with Persona</span></a><p>(Hey! A more personalized experience)</p></div>
				<div class="or">or</div>
				<div class="option2"><a id="guestbtn" class="graybtn">Sign in as Guest</a></div>
				</div>
			</div>
			
			<!-- GUEST -->
			
			<div id="guestlogin">
				<form id="guestloginForm" action="" method="">
		            <input type="text" name="email" id="email" class="email" placeholder="Your email" /> <br>
		            <a id="guestloginbtn" class="btn">Login as Guest</a>
		        </form>
			</div>
			
			<!-- INVITES -->

			<div id="invitations">
				<p>Invite others to join your session!</p>
				<ol>
					<li><input type="text" id="invite1" class="invite" placeholder="email 1" /></li>
					<li><input type="text" id="invite2" class="invite" placeholder="email 2" /></li>
				</ol>
				<a id="logoutbtn" class="btn" href="#">Logout</a>
				<a id="skip" href="/main">Skip</a>
				<a id="invitebtn" class="btn" href="#">Invite</a>
			</div>

        </div>
        <div id="monitor"><img src="img/home/monitor.png" alt=""></div>
    </div>
</header>
<div class="row">
			<div class="col1">
				<h2>Learn together</h2>
				<hr>
				<p>We learn better when we learn together. Find people with shared interests, goals, and expertise.</p>
				<hr>
				<img src="img/home/learn-together.png" alt="Learn Together">
			</div>
			<div class="col2">
				<h2>Never miss a chance to learn</h2>
				<hr>
				<p>Get relevant notifications about learning opportunities in your community and online.</p>
				<hr>
				<img src="img/home/never-miss.png" alt="Never Miss">
			</div>
			<div class="col3">
				<h2>No downloads, no hassles</h2>
				<hr>
				<p>Stream and share high-quality video in your web browser over next-generation networks.</p>
				<hr>
				<img src="img/home/no-downloads.png" alt="No Downloads">
			</div>
            <div class="clearer"></div>
		</div>
{% endblock %}