{% extends 'layout.html' %}

{% block title %}OpenPath{% endblock %}

{% block head %}
    {% parent %}
	<link href="css/home.css" rel="stylesheet" type="text/css">
	<script>
	  // Persona login button
	  $(document).ready(function() {
		$('#loginbtn').mouseup(function() {
			navigator.id.request();
		});
		// display guest login form
		$('#guestbtn').mouseup(function() {
			$("#login").fadeOut();
			$("#guestlogin").fadeIn();
		});
		
		// Modals
		$('#privacyPolicyLink').mouseup(function() { $('#privacyPolicyModal').modal();});
		$('#tosLink').mouseup(function() { $('#tosModal').modal();});
		$('#aboutPolicyLink').mouseup(function() { $('#aboutModal').modal();});
		
		// validate email and show main
		$('#guestloginbtn').mouseup(function() {
			var email = $('#email').val();
			var isValid = validateEmail(email);
			if(!isValid){
				$('#emailerror').modal();
			}else{
				// send email to API to authenticate
				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/auth/guest", true);
				xhr.addEventListener("loadend", function(e) {
					var data = JSON.parse(this.responseText);
					if (data && data.status === "okay") {
						console.log('going to main');
						window.location = "/main";
					}
				}, false);
				xhr.send();
			};
		});
	  });
	</script>
{% endblock %}

{% block content %}

<header id="mainheader">
    <div class="inner">
		<div id="intro">
            <img id="logo" src="img/home/openpath.png" alt="OpenPath">

			<!-- LOGIN -->
			
			<div id="login">
	            <h1>What do you want to learn?</h1>
				
	            <p>Chart your learning path through exhibits, tours, and special events</p>
				<div class="loginoptions">
				<a id="loginbtn" class="persona-button btn btn-primary" data-loading-text="Loading..."><span>Sign in with Persona</span></a> or <a id="guestbtn" class="btn">Sign in as Guest</a></div>
			</div>
			<div id="loadinggraphic"><i class="icon-spinner icon-spin icon-large">Loading User</i> </div>
			<!-- GUEST -->
			
			<div id="guestlogin">
				<form id="guestloginForm">
		            <input type="text" name="email" id="email" class="email" placeholder="Your email" /> <br>
		            <a id="guestloginbtn" class="btn">Login as Guest</a>
		        </form>
			</div>

        </div>
        <div id="monitor"><img src="img/home/monitor.png" alt=""></div>
    </div>
</header>
<div class="row">
			<div class="col1">
				<h2>Connect learning everywhere</h2>
				<ul>
			    	<li>Go on expert-guided virtual field trips</li>
			    	<li>Facilitate place-based learning remotely</li>
			    </ul>
				<img src="img/home/map.jpg" alt="Map">
			</div>
			<div class="col2">
				<h2>No downloads, no hassles</h2>
				<ul>
				  <li>Location-based video right in your browser</li>
				  <li>Stream and share high-quality video, enabled by high-speed networks</li>
				</ul>
				<img src="img/home/no-downloads.png" alt="Never Miss">
			</div>
			<div class="col3">
				<h2>Collaborate &amp; build community</h2>
				<ul>
				  <li>Curate experiences, sharing your favorite places</li>
				  <li>Advocate for local causes, collaborate with people around the world</li>
				</ul>
				<img src="img/home/learn-together.png" alt="Learn Together">
			</div>
            <div class="clearer"></div>
			<footer id="homefooter">
				<ul>
					<li><a id="tosLink" data-toggle="modal" href="#tos">Terms of Service</a></li>
					<li><a id="privacyPolicyLink" data-toggle="modal" href="#privacyPolicy">Privacy Policy</a></li>
					<li><a id="aboutLink" data-toggle="modal" href="#about">About</a></li>
				</ul>
			</footer>
		</div>
		
		<!-- Terms of Service Modal -->
		<div id="tos" data-remote="/terms-of-service" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Terms of Service</h3>
		  </div>
		  <div class="modal-body">
		  	<!-- content will be loaded here -->
		  </div>
		</div>
		
		<!-- Privacy Policy Modal -->
		<div id="privacyPolicy" data-remote="/privacy-policy"  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Privacy Policy</h3>
		  </div>
		  <div class="modal-body">
		  	<!-- content will be loaded here -->
		  </div>
		</div>
		
		<!-- About Modal -->
		<div id="about" data-remote="/about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">About</h3>
		  </div>
		  <div class="modal-body">
			<!-- content will be loaded here -->
		  </div>
		</div>
{% endblock %}