<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Open Path{% endblock %}</title>
  {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
	<link href="css/persona-buttons.css" rel="stylesheet" type="text/css">
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
	
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/bootstrap-tooltip.js"></script>
	
    <script src="https://login.persona.org/include.js"></script>
	
    <script>
	  var username = "";
	  /**
	  * Display username in interface
	  */
	  var showUsername = function(user){
		 if(user != "guest"){
			// pull username from front of email address and display in interface
			// will allow user to change in future version; will store in user data along w prefs
			username = user.match(/^([^@]*)@/)[1];		
		}else{
			username = user;
		};
		document.querySelector("#username1").textContent = username;
	  };
	  /**
	  * Persona handling
	  */
	/*
	  navigator.id.watch({

        // this is the callback that persona triggers when the user logs in
        onlogin: function(assertion) {
		   console.log('onlogin');
		
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/auth/status", true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.addEventListener("loadend", function(e) {
          	var data = JSON.parse(this.responseText);
			console.log('onlogin data.status: ' + data.status);
            
			if (data && data.status === "okay") {
	
			  var path = window.location.pathname;
			  console.log('onlogin path: ' + path);
			  if(path == '/'){
				// ON LOGIN: do homepage handling
				console.log('ON LOGIN: do homepage handling');
				window.location = "/main";
			  }else if(path == '/main'){
				// ON LOGIN: do main handling
				console.log('ON LOGIN: do main handling');		
				showUsername(data.email);
			  }
            }
          }, false);
          xhr.send(JSON.stringify({
            assertion: assertion
          }));
        },

        // this is the callback that persona triggers when the user logs out
        onlogout: function() {
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/auth/logout", true);
          xhr.addEventListener("loadend", function(e) {

		  var path = window.location.pathname;
		  console.log('onlogout path = ' + path);
		  if(path == '/main'){
			window.location = "/";
		  }
          }, false);
          xhr.send();
        }

      });
*/ 
  // actions that happen when page has loaded
  document.addEventListener("DOMContentLoaded", function() {
	console.log('DOMContentLoaded');
    // call auth/status when page first loads to see if user is logged in already
    var xhr = new XMLHttpRequest();
      xhr.open("POST", "/auth/status", true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.addEventListener("loadend", function(e) {
        var data = JSON.parse(this.responseText);
        if (data && data.status === "okay") {
		  showUsername(data.email);
		  var path = window.location.pathname;
		  if(path == '/'){
			console.log('ON PAGE: do homepage stuff');
		  }else if(path == '/main'){
			console.log('ON PAGE: do main stuff');
		  }
        }
      }, false);
      xhr.send(JSON.stringify({
        //assertion: assertion
      }));
  }, false);

  </script>
  {% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>
