<div class="tab-pane" id="events">

	<!-- BEGIN EVENTS MENU -->
    <div id="eventsmenu">
	    <h2>List of Events</h2> 
	    <nav class="subnav">
            <ul>
                <li><a href="#">Nearby</a></li>
                <li><a href="#">Upcoming</a></li>
            </ul>
        </nav>
        <a href="#addEventsModal" data-toggle="modal" class="btn btn-primary addEventsBtn"><span class="icon-plus"></span> Add</a>
    </div>

	<div class="events-single-col">
		<!-- BEGIN EVENTS LIST -->
	    <ul class="eventslist">
			<!-- Dynamically-Generated Events Go Here -->
			
	    </ul>
		<!-- END EVENTS LIST -->
	</div>
	<div class="clearer"></div>
	
</div>