<div class="tab-pane" id="events">
	<div class="col1">
		<!-- BEGIN EVENTS MENU -->
	    <div id="eventsmenu">
	        <div class="col50 left">
	            <nav class="subnav">
	                <ul>
	                    <li><a href="#">Nearby</a></li>
	                    <li><a href="#">Upcoming</a></li>
	                </ul>
	            </nav>
	        </div>
	        <div class="col50 right">
				<form class="form-search">
				    <div class="input-prepend">
				      <span class="add-on"><i class="icon-search"></i></span>
				      <input class="span2" id="inputIcon" type="text" placeholder="Search">
					</div>
				</form>
	        </div>
	        <div class="clearer"></div>
	    </div>
		
		<!-- MAP -->
		<div id="eventsmap"></div>
	</div>
	<div class="col2">
		<!-- BEGIN EVENTS LIST -->
	    <div class="eventslist inner">
	    <h2>List of Events</h2> <a href="#addEventsModal"  data-toggle="modal" class="btn btn-primary"><span class="icon-plus"></span> Add</a>
			<div class="eventsholder">
				<!-- Dynamically-Generated Events Go Here -->
			</div>
	    </div>
		<!-- END EVENTS LIST -->
	</div>
	<div class="clearer"></div>
	
</div>