{% extends 'layout.html' %}

{% block title %}OpenPath{% endblock %}

{% block head %}
    {% parent %}
	<link rel="stylesheet" href="css/style.css" />
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
	<script src="js/webrtc.io.js"></script>
	<script src="js/openpath.main.js"></script>
	<script src="js/openpath.user.js"></script>
	<script src="js/openpath.user.profile.js"></script>
	<script src="js/openpath.user.settings.js"></script>
	<script src="js/openpath.events.js"></script>
	<script src="js/openpath.events.addEvent.js"></script>
{% endblock %}

{% block content %}

<!-- ***** ADD USER ***** -->
{% include "main.header.html" %}

<div id="content">


	<div class="tab-content">
		
  	  <!-- ***** MAIN ***** -->
		 
		  <!-- ***** VIDEOS ***** -->
		  {% include "main.videos.html" %}

		  <!-- ***** ADD USER ***** -->
		  {% include "main.user.add.html" %}
		
		  <!-- ***** EVENTS ***** -->
		  {% include "main.events.html" %}
		
		  <!-- ***** USER ***** -->
		  {% include "main.user.html" %}


		</div>
    </div>
</div>
<!-- BEGIN ADD EVENTS MODAL -->
{% include "main.events.add.html" %}
<!-- END ADD EVENTS MODAL -->
{% endblock %}
