{% extends 'layout.html' %}

{% block title %}OpenPath{% endblock %}

{% block head %}
    {% parent %}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
	<script src="js/webrtc.io.js"></script>

	<!--underscore templates-->
	<script id="eventTemplate" type="text/template">
		<article>
			<h3><a href="#" target="_blank"><%= name %></a></h3>
			<p class="time"><%= startTime %> to <%= endTime %></p>
			<p class="location"><%= locationDescription %></p>
			<p><%= description %></p>
		</article>
	</script>


	<script src="js/openpath.main.js"></script>
	<!--<script src="js/openpath.user.js"></script>
	<script src="js/openpath.user.profile.js"></script>
	<script src="js/openpath.user.settings.js"></script>
	<script src="js/openpath.events.addEvent.js"></script>-->
	<script src="js/models/event.js"></script>
	<script src="js/views/event.js"></script>
	<script src="js/views/events.js"></script>
	<script src="js/collections/events.js"></script>
	
{% endblock %}

{% block content %}

<div class="main">
	<!-- ***** ADD USER ***** -->
	{% include "main/main.header.html" %}

	<div id="content">
		<div class="tab-content">
			
	  	  <!-- ***** MAIN ***** -->
			 
			  <!-- ***** VIDEOS ***** -->
			  {% include "main/main.videos.html" %}

			  <!-- ***** ADD USER ***** -->
			  {% include "main/main.user.add.html" %}
			
			  <!-- ***** EVENTS ***** -->
			  {% include "main/main.events.html" %}
			
			  <!-- ***** USER ***** -->
			  {% include "main/main.user.html" %}


			</div>
	    </div>
	</div>
</div>
<!-- BEGIN ADD EVENTS MODAL -->
{% include "main/main.events.add.html" %}
<!-- END ADD EVENTS MODAL -->
{% endblock %}
