<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Terms of Service | OpenPath</title>
</head>
<body>
	<h1>Terms of Service</h1>
	<p>By registering an account or using the service at <a href="http://openpath.me">http://openpath.me</a> (the &ldquo;Service&rdquo;), a service provided by Mediated Spaces, Inc. (the &ldquo;Company&rdquo;), you agree to the following statements, terms, and conditions:</p>
	<ol>
	  <li> You assert that you are who you say you are, and haven't provided a false name, gender identity, or email address.</li>
	  <li>You assert that you are at least 13 years of age. <br>
	  </li>
	  <li>You understand that we will not sell your email address or personal information.</li>
	  <li>The Company will not be responsible for any loss of data, disclosure of data or incurred damage that will result from not securing your password and account.</li>
	  <li>You must not violate any law or make any unauthorized or illegal use while, and by, using the Service.</li>
	  <li>You, and/or your company, will be responsible for all the content and activity which are held under your account.</li>
	  <li>Your use of the Service is at your sole risk. The Service is provided on an &ldquo;as is&rdquo; basis.</li>
	  <li>The Company holds its rights to remove, or not to remove, any content which is unlawful or offensive. However, any written abuse or threat made in an account will result in the immediate termination of that account.</li>
	  <li>The Company is &nbsp;not liable for any damages of any kind incurred as a result of any use of the Service or any message(s) posted on the Service&rsquo;s Web sites or Web pages. We reserve the right to refuse service to anyone, and to cancel accounts or limit participant or guest access for any reason.</li>
	  <li>Nothing in this license impairs or restricts OpenPath&rsquo;s or MSI&rsquo;s moral rights. We reserve the right to change this agreement at any time. Changes will be posted.</li>
	</ol>
	<p>User-generated content is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share Alike (http://creativecommons.org/licenses/by-sa/3.0/) License</a>.</p>
	<p>This material is based on work supported by Mozilla Ignite. Any opinions, findings, and conclusions or recommendations expressed in this publication are those of the author(s) and do not necessarily reflect the views of Mozilla Ignite.</p>
</body>
</html>
