body, html {
  height: 100%;
  width: 100%;
}
body{background:#434545; font:18px/20px 'PT Sans', sans-serif;}
h2{font-size:20px;}
h3{color:#3e9ed5; font-size:18px; line-height:20px;}
#mainheader{padding:0 20px; height:67px; background:rgba(0,0,0,0.6);}
a:link, a:visited, a:hover{text-decoration:none;}
label{font-size:20px; padding-bottom:10px;}

.clearer{clear:both;}
.col50{width:40%;}
.left{float:left; text-align:left;}
.right{float:right; text-align:right;}

/* HEADER */
#openpath{width:205px; float:left;}

#mainnav{display:block; text-align:right; /*width:205px;*/ width:65%; float:right;}
#mainnav ul{margin:0; padding:0;}
#mainnav li{list-style:none; display:inline-block; margin:10px 4% 0 0;}

#mainnav li a:hover, #mainnav li.active a{opacity:1;}

#mainnav a{display:inline-block; width:40px; height:40px; position:relative;}

a#adduser-icon{background:url(/img/add-user-icon.png) no-repeat;}
li.active a#adduser-icon, a#adduser-icon:hover{background:url(/img/add-user-icon-over.png) no-repeat;}
		
a#map-icon{background:url(/img/map-icon.png) no-repeat;}
li.active a#map-icon, a#map-icon:hover{background:url(/img/map-icon-over.png) no-repeat;}

a#profile-icon{background:url(/img/user-icon.png) no-repeat;}
li.active a#profile-icon, a#profile-icon:hover{background:url(/img/user-icon-over.png) no-repeat;}

.badge-important{position:absolute;padding-left: 5px; padding-right: 5px; right:0;}

.col1{width:784px; width:76.5625%; float:left; /*min-height:959px;*/ position:relative;}
.col2{width:240px; width:23.4375%; float:right; background:#fff; /*min-height:959px;*/}
.col1, .col2{min-height:640px;}
.inner{padding:4.1666667%;}
.clearer{clear:both;}

/* SUBNAV */
.subnav ul{margin:10px 0 0 0; padding:0;}
.subnav li{list-style:none; display:inline-block; border-right:2px solid #949494; padding:0 2.5510204%; text-align:center;}
.subnav li:last-child{border-right:none;}
.subnav li a{text-decoration:none;}
.subnav li a:link{color:#949494;}
.subnav li a:visited, .subnav li a:hover{color:#fff;}
.subnav li a:hover{font-weight:bold;}
.subnav li.active a{font-weight:bold !important;}

/********************************/
/* MAIN */
/********************************/
/* MAIN USERS */
#users{height:360px; overflow-x:hidden; overflow-y:auto;}
.user{
	min-height:180px;
	overflow:hidden;
	cursor:pointer;
	position:relative;
	transition:opacity 1s ease-out;
}
.usermeta{z-index:200; color:#fff; position:absolute; width:100%;}
.usermetashowing{background:rgba(0,0,0,0.3);}
.username{background:rgba(0,0,0,0.8); padding:7px;}
.username > a:link, .username > a:visited{color:#fff !important;}
.username > a:hover{color:#08c;}
.username i{display:block; float:right;}
.userlocation{font-size:11px; padding:2%; background:rgba(0,0,0,0.3);}
.usermap{margin:0; height:120px; background:#000;}
.usermeta, .username, .userlocation, .usermap{display:none;}
.icon-map-marker{display:inline-block; float:right;}
.icon-map-marker:hover{color:#08c;}
.icon-map-marker span{display:none;}
.usermetashowing .icon-map-marker span{display:inline-block;}
.usermetashowing .icon-map-marker:before{content:'' !important;}

/* CHAT WINDOW */
#chatwindow{/*height:42.96875%;*/ max-width:240px; height:170px; overflow:auto; padding:8px 10px; background:#ebeae7;}
#chatwindow strong{font-weight:normal;}
#chatwindow ol{margin:0; padding:0;}
#chatwindow li{display:block; list-style:none; padding:7px 0; border-bottom:1px solid #ccc;}
.commentfield{width:87.5%; max-width:215px; margin:4.1666667%;}
.user1 span{color:#3e9ed5;}
.user2 span{color:#747474;}

/********************************/
/* ADD USER */
/********************************/

#adduser{
	min-height:460px;
	padding: 20px;
	background: #eeedeb;
}
#adduser textarea{display:block; width:90%;}

/********************************/
/* EVENTS */
/********************************/

/* EVENTS MENU */
#eventsmenu{background:rgba(0,0,0,0.7); width:96%; padding:5px 2%; position: absolute; z-index: 100;}
#eventsmenu .subnav a{color:#949494 !important;}
.form-search{padding-top:5px;}

#eventsmap{width:100%; height:100%; min-height:640px;}

/* EVENTS LIST */
#eventslist article{padding-bottom:20px; border-bottom:1px solid #c3c3c3;}
#eventslist .btn{float:right;}
#eventslist h2{display:inline; margin-right:2%;}
#eventslist .icon-plus{color:#fff;}
#eventsholder{margin-top:10px; height:630px; overflow-x:hidden; overflow-y:auto;}

/********************************/
/* USER */
/********************************/
.usertab-single-col{
	min-height:460px;
	padding: 130px 4%;
	background: #eeedeb;
}
/* USER MENU */
#usermenu{background:#f6f6f6; width:96%; padding:2%; position: absolute; z-index: 100;}
#usermenu h1{font-size:28px; /*margin-left:10px;*/ margin-left:1.2755102%; display:inline; font-weight:normal;}
#usermenu .subnav li{border-right:2px solid #ccc;}
#usermenu .subnav li:last-child{border-right:none;}
#usermenu .subnav a{color:#3e9ed5 !important;}

#mypath #eventslist{margin-top:80px; min-height:560px;}
#profile label{font-weight:bold;}
#profile small{font-size:12px;}

@media all and (max-width: 768px){
	.col1{width:66%;}
	.col2{width:34%;}
	.col50{width:40%;}
	.subnav{font-size:14px;}
}