@import  url("reset.css");
/*HOME STYLES -TODO: responsive
body{
    margin:0;
    padding:0;
	font:18px/22px 'PT Sans', sans-serif;
}
h2{font-size:22px;}
hr{margin: 10px 0; border-bottom:1px solid #f5f4f5; border-top:1px solid #d5d0d5; border-right:none; border-left:none;}
#intro{text-shadow: 2px 2px rgba(0,0,0,0.5); padding-top:20px; width:350px; float:left;}

#mainheader{overflow:hidden; height:430px; position:relative; color:#fff; background:#666 url(../img/home/headerbgd.jpg) no-repeat; background-size:cover;}
#mainheader h1{font-size:26px;}
.inner{width:960px; padding-left:30px; margin:0 auto;}
#monitor{float:right; bottom:0; width:600px; height:327px; margin-top:103px;}

.row{margin:0 auto; width:990px; padding:30px 0 30px 30px;}
.col1,.col2,.col3{font-size:18px; float:left; width:300px; margin-right:30px;}
.col1 img, .col2 img, .col3 img{max-width:100%; height:auto; margin:0 auto;}
.clearer{clear:both;}

.loginoptions{}
.option1 p{font-size:12px; margin:0; padding:0;}
.or{text-align:center; padding:10px 0;}
#skip{color:#fff;padding-top: 10px; display: inline-block;}
input.invite, input.email{
	font-size:18px;
	padding:8px;
	margin-bottom:10px;
	border-radius:5px;
	width:270px;
}

#loadinggraphic{display:none;}

#guestlogin{padding-top:100px;}
#guestloginbtn{font: 18px/22px 'PT Sans', sans-serif;}

#invitations, #guestlogin{display:none;}
#invitations .btn{float:right; margin-left:10px;}

#homefooter{text-align:center; font-size:14px; color:#ccc;}
#homefooter a{text-decoration:none; color:#56acdd; padding:0 10px;}
#homefooter ul, li{margin:0; padding:0;}
#homefooter li{list-style:none; display:inline; border-right:1px solid #ccc;}
#homefooter li:last-child{border-right:none;}

.modal-header{background-color:#000;}
.modal-header h3{color:#fff;}
.close{color:#fff; opacity:1;}*/


/*MAIN STYLES - TODO: clean up above, Responsive*/;
body, html {
	/* Set to properly render Google Map instances */
	height: 100%;
	width: 100%;
}
body{
	background:#434545;
	font-family:'PT Sans', sans-serif;
	font-size:10px;
}
/**
* globals
*/
h2{
	font-size:2em;
}
h3{
	color:#3e9ed5;
	font-size:1.8em;
}
a:link, 
a:visited, 
a:hover{
	text-decoration:none;
}

label{font-size:20px; padding-bottom:10px;}

.col50{width:40%;}
.left{float:left; text-align:left;}
.right{float:right; text-align:right;}

.modal-header h3{color:#fff;}

/* HEADER */
#mainheader{
	position: relative;
	padding:0 20px; 
	height:67px;
	background:rgba(0,0,0,0.6);

}


#openpath{width:205px; float:left;}

#mainnav{display:block; text-align:right; /*width:205px;*/ width:65%; float:right;}
#mainnav ul{margin:0; padding:0;}
#mainnav li{list-style:none; display:inline-block; margin:10px 4% 0 0;}

#mainnav li a:hover, #mainnav li.active a{opacity:1;}

#mainnav a{display:inline-block; width:40px; height:40px; position:relative;}

a#adduser-icon{background:url(/img/add-user-icon.png) no-repeat;}
li.active a#adduser-icon, a#adduser-icon:hover{background:url(/img/add-user-icon-over.png) no-repeat;}
		
a#map-icon{background:url(/img/map-icon.png) no-repeat;}
li.active a#map-icon, a#map-icon:hover{background:url(/img/map-icon-over.png) no-repeat;}

a#profile-icon{background:url(/img/user-icon.png) no-repeat;}
li.active a#profile-icon, a#profile-icon:hover{background:url(/img/user-icon-over.png) no-repeat;}

.badge-important{position:absolute;padding-left: 5px; padding-right: 5px; right:0;}

.col1{width:784px; width:76.5625%; float:left; /*min-height:959px;*/ position:relative;}
.col2{width:240px; width:23.4375%; float:right; background:#fff; /*min-height:959px;*/}
.col1, .col2{min-height:640px;}
.inner{padding:4.1666667%;}
.clearer{clear:both;}



/* SUBNAV */
.subnav ul{
	margin:10px 0 0 0;
	padding:0;
	list-style:none;
	overflow: hidden;
}
.subnav li{
	float:left;
	border-right:2px solid #949494; 
	padding:0 10px; 
	text-align:center;
}
.subnav li:last-child{
	border-right:none;
}
.subnav li a {
	text-decoration:none;
}
.subnav li a:link {
	color:#949494;
}
.subnav li a:visited, 
.subnav li a:hover{
	color:#fff;
}
.subnav li a:hover{
	font-weight:bold;
}
.subnav li.active a{
	font-weight:bold !important;
}

/********************************/
/* MAIN */
/********************************/
/* MAIN USERS */
#users{height:400px; overflow-x:hidden; overflow-y:auto;}
.user{
	min-height:180px;
	overflow:hidden;
	cursor:pointer;
	position:relative;
	transition:opacity 1s ease-out;
}
video.avatar{width:100%; height:auto;}
.usermeta{z-index:200; color:#fff; position:absolute; width:100%;}
.usermetashowing{background:rgba(0,0,0,0.3);}

.username{background:rgba(0,0,0,0.8); padding:7px;}
.username > a:link, .username > a:visited{color:#fff !important;}
.username > a:hover{color:#08c;}
.username i{display:block; float:right;}
.userlocation{height:20px; font-size:11px; padding:2%; background:rgba(0,0,0,0.3);}
.usermap{margin:0; height:150px; background:#000;}
.usermeta, .username, .userlocation, .usermap{display:none;}
.icon-map-marker{display:inline-block; float:right;}
.icon-map-marker:hover{color:#08c;}
.icon-map-marker span{display:none;}
.usermetashowing .icon-map-marker span{display:inline-block;}
.usermetashowing .icon-map-marker:before{content:'' !important;}


//TODO!!
/* CHAT WINDOW */
#chatwindow{/*height:42.96875%; max-width:240px;*/ height:130px; overflow:auto; padding:8px 10px; background:#ebeae7;}
#chatwindow strong{font-weight:normal;}
#chatwindow ol{margin:0; padding:0;}
#chatwindow li{display:block; list-style:none; padding:7px 0; border-bottom:1px solid #ccc;}
.commentfield{width:87.5%; max-width:215px; margin:4.1666667%;}
.user1 span{color:#3e9ed5;}
.user2 span{color:#747474;}

/********************************/
/* ADD USER */
/********************************/

#adduser{
	min-height:460px;
	padding: 20px;
	background: #eeedeb;
}
#adduser textarea{display:block; width:90%;}

/********************************/
/* EVENTS */
/********************************/

/* EVENTS MENU */
#eventsmenu{
	width:96%; 
	padding:5px 2%;
	background:#fff;
	overflow: hidden;
}
#eventsmenu h2 {
	float:left;
}
#eventsmenu .subnav {
	float:right;
	margin:10px 0 0 0;
}
#eventsmenu .subnav a {
	color:#949494 !important;
}
#eventsmenu .addEventsBtn{
	margin:15px 0 0 20px;
}


/* EVENTS LIST */
ul.eventslist {
	padding:0 4%;
	margin:0;
	list-style-type: none;

	height:400px;
	overflow-y:scroll;

}
ul.eventslist li {
	width:100%;
	overflow:hidden;
	padding-bottom:20px; 
	border-bottom:1px solid #c3c3c3;
}

ul.eventslist li article{
	float:left;
	width:60%;
	padding:10px 0 0 0;
}
ul.eventslist li .mapWrap{
	float:right;
	width:35%;
	height:200px;
	margin-top:20px;
	margin-left:5%;
}
ul.eventslist article h3{
	padding-bottom:5px;
}
ul.eventslist article p.time{
	padding-bottom:5px;
}
ul.eventslist article p.location{
	padding-bottom:5px;
}
.eventslist .icon-plus{color:#fff;}
.eventsholder{}



/*add events modal*/
#addEventsModal #gradelevel  {
	padding:8px 0 0 0;
	overflow: hidden;
}
#addEventsModal #gradelevel ul {
	list-style-type: none;
	padding:0;
	margin:0;
	float:left;
	width:140px;
}
#addEventsModal #gradelevel ul li {

	overflow:hidden;
}
#addEventsModal #gradelevel ul li label {
	float:right;
	font-size:12px;
	margin:0;
	width:120px;
}
#addEventsModal #gradelevel ul li input {
	float:left;
}
#addEventsModal label.error {
	font-size:11px;
	color:#ff0000;
}
.bootstrap-datetimepicker-widget{z-index:9999;}

/********************************/
/* USER */
/********************************/
.usertab-single-col{
	min-height:460px;
	padding: 100px 4%;
	background: #eeedeb;
}
/* USER MENU */
#usermenu{
	background:#f6f6f6; 
	width:92%;
	height:65px;
	padding:2% 4% 0 4%; 
	position: absolute;
	overflow:hidden; 
	z-index: 9;
}
#usermenu .userIcon {
	width:40px;
	height:40px;
	float:left;
}
#usermenu h1 {
	font-size:28px;
	margin-left:10px; 
	font-weight:normal;
	float:left;
}
#usermenu .subnav li{border-right:2px solid #ccc;}
#usermenu .subnav li:last-child{border-right:none;}
#usermenu .subnav a{color:#3e9ed5 !important;}

#mypath .eventslist{margin-top:100px; min-height:560px;}

/*profile display*/
#profile .displayView {

}
#profile .displayView a.editProfileBtn {
	float:right;
}
/*profile edit*/
#profile .editView {
	display:none;
}
#profile .editView .profileIntro {
	padding-bottom:20px;
}
#profile .editView .userIcon {
	position:absolute;
	top:90px;
	left:4%;
	z-index:10;
	width:40px;
	height:40px;
	overflow:hidden;
}
#profile .editView .userIcon input {
	padding:40px 0 40px 0;
	opacity:0;
	cursor:pointer;
}
#profile .editView fieldset.name {
	position:absolute;
	top:100px;
	left:9%;
	z-index:10;
}


#logout {
	margin-top:50px;
}

#profile label{font-weight:bold;}
#profile small{font-size:12px;}

#mypathmap{width:100%; height:100%; min-height:640px;}


/**
 *#settings
 */
#settings form article fieldset {
	overflow:hidden;
}
#settings form article fieldset label {
	float:left;
}
#settings form article fieldset input {
	float:left;
}
#settings form article fieldset input[type="radio"] {
	margin:0 0 0 3px;
}
#settings form article.saved {
	margin:10px 0 0 0;
	color:#999999;
}





/**
 * bootstrap modal override for google autocomplete fix
 */
 .modal-backdrop {
 	z-index: 500 !important;
 }
 .modal {
 	z-index: 501 !important;
 	position:absolute;
 }








/**
 * mobile?  TODO: move to own ss;
 */
@media all and (max-width: 768px){
	.col1{width:66%;}
	.col2{width:34%;}
	.col50{width:45%;}
	.subnav{font-size:14px;}
}
@media all and (max-width: 600px){
	body, html {
		min-width:519px;
		margin:0;
		padding:0;
		overflow:hidden;
	}
	body{font:14px/16px 'PT Sans', sans-serif;}
	.col1, .col2 {
	    min-height: auto;
	}
	.user{min-height: 120px;}
	.usermap{height:65px;}
	#mainheader{width:90%; padding:0 5%;}
	#users{height:180px;}
	#chatwindow{height:50px;}
	#mainnav{width:200px;}
	.tab-content{overflow:hidden;}
}
