@import url("persona-buttons.css");
body {
  font-size: 10px;
  font-family: 'Myriad Pro', 'PT Sans', arial, sans-serif;
  background: #fff;
}
/* globals */
h1 {
  font-size: 3.8em;
  font-weight: bold;
}
h2 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  color: #3e9ed5;
  font-size: 1.8em;
}
a:link,
a:visited,
a:hover {
  text-decoration: none;
}
label {
  font-size: 2em;
  padding-bottom: 0.5em;
}
/*content - centering div*/
.content {
  position: relative;
  width: 96em;
  margin: 0 auto;
}
/*header*/
header.main {
  width: 100%;
  position: absolute;
  top: 0;
  height: 6.7em;
  z-index: 10;
}
/*footer*/
footer {
  text-align: center;
  padding-bottom: 3em;
}
footer ul li {
  display: inline;
  border-right: 1px solid #ccc;
}
footer ul li a {
  color: #56acdd;
  font-size: 1.4em;
  padding: 0 0.7em;
}
footer ul li:last-child {
  border-right: none;
}
#homefooter {
  text-align: center;
  font-size: 14px;
  color: #ccc;
}
#homefooter a {
  text-decoration: none;
  color: #56acdd;
  padding: 0 10px;
}
#homefooter ul,
li {
  margin: 0;
  padding: 0;
}
#homefooter li {
  list-style: none;
  display: inline;
  border-right: 1px solid #ccc;
}
#homefooter li:last-child {
  border-right: none;
}
/* home page styles */
.home header.main {
  padding-top: 2em;
}
.home section.main {
  position: relative;
  color: #fff;
  background: #666666 url(../img/home/headerbgd.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.home section.main .content {
  height: 43.0em;
  padding-top: 2em;
}
.home section.main .content article {
  width: 35em;
  padding-top: 7.7em;
}
.home section.main .content article h1 {
  font-size: 2.6em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.home section.main .content article p {
  font-size: 1.8em;
  line-height: 1.1em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  padding: 1em 0 0.8em 0;
}
.home section.main .content img.monitor {
  position: absolute;
  right: 0;
  bottom: 0;
}
.home section.bottom {
  background: #fff;
}
.home section.bottom ul.touts {
  overflow: hidden;
  padding: 3em 0 3em 0;
}
.home section.bottom ul.touts li.tout {
  float: left;
  width: 33%;
}
.home section.bottom ul.touts li.tout h2 {
  font-size: 2.2em;
}
.home section.bottom ul.touts li.tout ul {
  list-style-type: disc;
  list-style-position: outside;
  padding: 1em 1em 0 2em;
}
.home section.bottom ul.touts li.tout ul li {
  font-size: 1.8em;
  line-height: 1.1em;
}
.home section.bottom ul.touts li.tout img {
  margin: 0 auto;
}
/* main styles */
.main {
  /*main nav*/

  /* SUBNAV */

  /*tabs*/

  /*videos*/
  /*TODO: ems below*/

  /*addUser*/

  /*events*/

  /*user*/

}
.main .globalMarker {
  width: 94%;
  margin: 0 auto;
  position: relative;
}
.main .globalMarker a.openPathMarker {
  display: block;
  position: absolute;
  background: url('../img/marker.png') no-repeat scroll top left;
  width: 44px;
  height: 44px;
  top: 1.2em;
  z-index: 11;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.main header.main {
  background: rgba(0, 0, 0, 0.6);
}
.main header.main .content {
  width: 94%;
}
.main header.main a.logo {
  float: left;
  padding: 1.6em 0 0 5.5em;
}
.main header.main a.logo span {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.1em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  letter-spacing: 0.1em;
}
.main header.main nav.main {
  float: right;
}
.main header.main nav.main ul {
  overflow: hidden;
  list-style-type: none;
  padding: 1em 0 0 0;
}
.main header.main nav.main ul li {
  float: left;
  padding: 0 2em 0 0;
}
.main header.main nav.main ul li a {
  position: relative;
  display: block;
  width: 4em;
  height: 4em;
}
.main header.main nav.main ul li a:hover {
  opacity: 1;
}
.main header.main nav.main ul li.active a {
  opacity: 1;
}
.main header.main nav.main ul a#adduser-icon {
  background: url(/img/add-user-icon.png) no-repeat;
}
.main header.main nav.main ul li.active a#adduser-icon,
.main header.main nav.main ul a#adduser-icon:hover {
  background: url(/img/add-user-icon-over.png) no-repeat;
}
.main header.main nav.main ul a#map-icon {
  background: url(/img/map-icon.png) no-repeat;
}
.main header.main nav.main ul li.active a#map-icon,
.main header.main nav.main ul a#map-icon:hover {
  background: url(/img/map-icon-over.png) no-repeat;
}
.main header.main nav.main ul a#profile-icon {
  background: url(/img/user-icon.png) no-repeat;
}
.main header.main nav.main ul li.active a#profile-icon,
.main header.main nav.main ul a#profile-icon:hover {
  background: url(/img/user-icon-over.png) no-repeat;
}
.main header.main nav.main ul .badge-important {
  position: absolute;
  padding: 0 0.5em;
  right: 0;
}
.main .subnav ul {
  margin: 1em 0 0 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.main .subnav ul li {
  float: left;
  border-right: 0.2em solid #949494;
  padding: 0 1em;
  text-align: center;
}
.main .subnav ul li a {
  text-decoration: none;
}
.main .subnav ul li a:link {
  color: #949494;
}
.main .subnav ul li a:visited,
.main .subnav ul li a:hover {
  color: #fff;
}
.main .subnav ul li a:hover {
  font-weight: bold;
}
.main .subnav ul li:last-child {
  border-right: none;
}
.main .subnav ul li.active a {
  font-weight: bold !important;
}
.main .main-tab {
  padding: 7em 0 0 0;
  display: none;
}
.main #videos {
  overflow: hidden;
  padding: 0;
  display: block;
  /*#chat*/

  /*chat open*/

}
.main #videos video {
  background: url('../img/poster.png') no-repeat scroll center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.main #videos .col1 {
  float: left;
  position: relative;
  width: 75%;
}
.main #videos .col2 {
  float: left;
  position: relative;
  width: 25%;
}
.main #videos .navHotSpot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8em;
  z-index: 3;
}
.main #videos .userVideo {
  /*
			position:relative;
			min-height:180px;*/

  line-height: 0 !important;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 1s ease-out;
}
.main #videos .userVideo .usermeta {
  z-index: 2;
  color: #fff;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.main #videos .userVideo .usermeta .username {
  padding: 7px;
}
.main #videos .userVideo .usermeta .username a {
  font-size: 1.6em;
  line-height: 1.2em;
}
.main #videos .userVideo .usermeta .username i {
  display: block;
  float: right;
}
.main #videos .userVideo .usermeta .username .icon-map-marker {
  display: inline-block;
  float: right;
  font-size: 1.6em;
}
.main #videos .userVideo .usermeta .username .icon-map-marker span {
  display: none;
}
.main #videos .userVideo .usermeta .username .icon-map-marker:hover {
  color: #08c;
}
.main #videos .userVideo .usermeta .username > a:link,
.main #videos .userVideo .usermeta .username > a:visited {
  color: #fff !important;
}
.main #videos .userVideo .usermeta .username > a:hover {
  color: #08c;
}
.main #videos .userVideo .usermeta .userlocation {
  height: 20px;
  font-size: 11px;
  padding: 2%;
}
.main #videos .userVideo .usermeta .usermap {
  margin: 0;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
}
.main #videos .userVideo .usermeta,
.main #videos .userVideo .username,
.main #videos .userVideo .userlocation,
.main #videos .userVideo .usermap {
  display: none;
}
.main #videos .userVideo .usermetashowing {
  background: rgba(0, 0, 0, 0.3);
}
.main #videos .userVideo .usermetashowing .icon-map-marker span {
  display: inline-block !important;
}
.main #videos .userVideo .usermetashowing .icon-map-marker:before {
  content: '' !important;
}
.main #videos .userVideo video.avatar {
  width: 100% !important;
  height: 100% !important;
}
.main #videos #chat {
  position: absolute;
  width: 100%;
  bottom: -225px;
  z-index: 11;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: bottom 1s ease-in-out;
  -moz-transition: bottom 1s ease-in-out;
  -o-transition: bottom 1s ease-in-out;
  -ms-transition: bottom 1s ease-in-out;
  transition: bottom 1s ease-in-out;
}
.main #videos #chat header {
  overflow: hidden;
  padding: 0.8em 1em;
}
.main #videos #chat header p.msg {
  float: left;
  color: #d6d6d6;
  font-size: 1.8em;
  padding: 0 0 0 10px;
  margin: 0;
}
.main #videos #chat header a.toggler {
  background: url('../img/sprite-chat-icon.png') no-repeat scroll 0 -12px;
  width: 12px;
  height: 12px;
  float: right;
  text-indent: -9999px;
}
.main #videos #chat #chatwindow {
  /*height:42.96875%; max-width:240px;*/
  height: 130px;
  overflow: auto;
  padding: 0 10px 0 20px;
  /*background:#ebeae7;*/

}
.main #videos #chat #chatwindow strong {
  font-weight: normal;
}
.main #videos #chat #chatwindow ol {
  margin: 0;
  padding: 0;
}
.main #videos #chat #chatwindow ol li {
  display: block;
  list-style: none;
  padding: 7px 0;
  font-size: 1.3em;
  color: #fff;
}
.main #videos #chat #chatwindow ol li span {
  font-weight: bold;
}
.main #videos #chat input.commentfield {
  width: 90%;
  padding: 10px;
  /*max-width:215px; */

  margin: 25px 10px 35px 20px;
}
.main #videos #chat .user1 span {
  color: #3e9ed5;
}
.main #videos #chat .user2 span {
  color: #747474;
}
.main #videos #chat.open {
  bottom: 0;
}
.main #videos #chat.open header a.toggler {
  background-position: 0 0;
}
.main #addUser {
  min-height: 46em;
  padding: 9em 2em 2em 2em;
  background: #eeedeb;
}
.main #addUser textarea {
  display: block;
  width: 90%;
}
.main #events {
  /* EVENTS LIST */

}
.main #events #eventsmenu {
  width: 96%;
  padding: 5px 2%;
  background: #fff;
  overflow: hidden;
}
.main #events #eventsmenu h2 {
  float: left;
}
.main #events #eventsmenu .subnav {
  float: right;
  margin: 1em 0 0 0;
}
.main #events #eventsmenu .subnav a {
  color: #949494 !important;
}
.main #events #eventsmenu .addEventsModalBtn {
  margin: 1.5em 0 0 2em;
}
.main #events .events-single-col {
  /*min-height:46em;*/

  padding: 0;
  background: #eeedeb;
}
.main #events ul#eventslist {
  padding: 0 4%;
  margin: 0;
  list-style-type: none;
  /*
			height:400px;
			overflow-y:scroll;*/

}
.main #events ul#eventslist li.event {
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px solid #c3c3c3;
}
.main #events ul#eventslist li.event article {
  float: left;
  width: 60%;
  padding: 10px 0 0 0;
}
.main #events ul#eventslist li.event article h3 {
  padding-bottom: 5px;
}
.main #events ul#eventslist li.event article p.time {
  padding-bottom: 5px;
}
.main #events ul#eventslist li.event article p.location {
  padding-bottom: 5px;
}
.main #events ul#eventslist li.event .mapWrap {
  float: right;
  width: 35%;
  height: 200px;
  margin-top: 20px;
  margin-left: 5%;
}
.main #events .eventslist .icon-plus {
  color: #fff;
}
.main #user {
  /*profile display*/

  /*mypathmap*/

  /*settings*/

}
.main #user #usermenu {
  background: #f6f6f6;
  width: 92%;
  height: 65px;
  padding: 2% 4% 0 4%;
  position: absolute;
  overflow: hidden;
  z-index: 9;
}
.main #user #usermenu .left {
  float: left;
}
.main #user #usermenu .right {
  float: right;
}
.main #user #usermenu .userIcon {
  width: 40px;
  height: 40px;
  float: left;
}
.main #user #usermenu h1 {
  font-size: 28px;
  margin-left: 10px;
  font-weight: normal;
  float: left;
}
.main #user #usermenu .subnav li {
  border-right: 2px solid #ccc;
}
.main #user #usermenu .subnav li a {
  color: #3e9ed5 !important;
}
.main #user #usermenu .subnav li:last-child {
  border-right: none;
}
.main #user .usertab-single-col {
  min-height: 460px;
  padding: 100px 4%;
  background: #eeedeb;
}
.main #user #mypath .eventslist {
  margin-top: 100px;
  min-height: 560px;
}
.main #user #profile .displayView a.editProfileBtn {
  float: right;
}
.main #user #profile .editView .profileIntro {
  padding-bottom: 20px;
}
.main #user #profile .editView form .userIcon {
  position: absolute;
  top: 90px;
  left: 4%;
  z-index: 10;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.main #user #profile .editView form .userIcon input {
  padding: 40px 0 40px 0;
  opacity: 0;
  cursor: pointer;
}
.main #user #profile .editView form fieldset.name {
  position: absolute;
  top: 100px;
  left: 9%;
  z-index: 10;
}
.main #user #profile #logout {
  margin-top: 50px;
}
.main #user #profile label {
  font-weight: bold;
}
.main #user #profile small {
  font-size: 12px;
}
.main #user #mypathmap {
  width: 100%;
  height: 100%;
  min-height: 640px;
}
.main #user #mypathmap .col1 {
  float: left;
  position: relative;
  width: 76.5625%;
}
.main #user #mypathmap .col2 {
  float: left;
  position: relative;
  width: 23.4375%;
}
.main #user #settings form article fieldset {
  overflow: hidden;
}
.main #user #settings form article fieldset label {
  float: left;
}
.main #user #settings form article fieldset input {
  float: left;
}
.main #user #settings form article fieldset input[type="radio"] {
  margin: 0 0 0 3px;
}
.main #user #settings form article.saved {
  margin: 10px 0 0 0;
  color: #999999;
}
/*modules*/
/*add events modal*/
#addEventsModal #gradelevel {
  padding: 8px 0 0 0;
  overflow: hidden;
}
#addEventsModal #gradelevel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
  width: 140px;
}
#addEventsModal #gradelevel ul li {
  overflow: hidden;
}
#addEventsModal #gradelevel ul li label {
  float: right;
  font-size: 12px;
  margin: 0;
  width: 120px;
}
#addEventsModal #gradelevel ul li input {
  float: left;
}
#addEventsModal label.error {
  font-size: 11px;
  color: #ff0000;
}
.bootstrap-datetimepicker-widget {
  z-index: 9999;
}
/**
 * bootstrap modal override for google autocomplete fix
 */
.modal-backdrop {
  z-index: 500 !important;
}
.modal {
  z-index: 501 !important;
  position: absolute;
}
