@import url("persona-buttons.css");
/*@import url( "lesshat.less" );*/
body {
  font-size: 10px;
  font-family: 'PT Sans', arial, sans-serif;
  background: #fff;
}
/* globals */
h1 {
  font-size: 3.8em;
  font-weight: bold;
}
h2 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  color: #3e9ed5;
  font-size: 1.8em;
}
a:link,
a:visited,
a:hover {
  text-decoration: none;
}
label {
  font-size: 2em;
  padding-bottom: 0.5em;
}
/*content - centering div*/
.content {
  position: relative;
  width: 96em;
  margin: 0 auto;
}
/*header*/
header.main {
  width: 100%;
  position: absolute;
  top: 0;
  height: 6.7em;
  z-index: 2;
  border: 1px solid red;
}
footer {
  text-align: center;
  padding-bottom: 3em;
}
footer ul li {
  display: inline;
  border-right: 1px solid #ccc;
}
footer ul li a {
  color: #56acdd;
  font-size: 1.4em;
  padding: 0 0.7em;
}
footer ul li:last-child {
  border-right: none;
}
#homefooter {
  text-align: center;
  font-size: 14px;
  color: #ccc;
}
#homefooter a {
  text-decoration: none;
  color: #56acdd;
  padding: 0 10px;
}
#homefooter ul,
li {
  margin: 0;
  padding: 0;
}
#homefooter li {
  list-style: none;
  display: inline;
  border-right: 1px solid #ccc;
}
#homefooter li:last-child {
  border-right: none;
}
/* home page styles */
.home header.main {
  padding-top: 2em;
}
.home section.main {
  position: relative;
  color: #fff;
  background: #666666 url(../img/home/headerbgd.jpg) no-repeat;
  background-size: cover;
}
.home section.main .content {
  height: 43.0em;
  padding-top: 2em;
}
.home section.main .content article {
  width: 35em;
  padding-top: 7.7em;
}
.home section.main .content article h1 {
  font-size: 2.6em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.home section.main .content article p {
  font-size: 1.8em;
  line-height: 1.1em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  padding: 1em 0 0.8em 0;
}
.home section.main .content img.monitor {
  position: absolute;
  right: 0;
  bottom: 0;
}
.home section.bottom {
  background: #fff;
}
.home section.bottom ul.touts {
  overflow: hidden;
  padding: 3em 0 3em 0;
}
.home section.bottom ul.touts li.tout {
  float: left;
  width: 33%;
}
.home section.bottom ul.touts li.tout h2 {
  font-size: 2.2em;
}
.home section.bottom ul.touts li.tout ul {
  list-style-type: disc;
  list-style-position: outside;
  padding: 1em 1em 0 2em;
}
.home section.bottom ul.touts li.tout ul li {
  font-size: 1.8em;
  line-height: 1.1em;
}
.home section.bottom ul.touts li.tout img {
  margin: 0 auto;
}
/* main styles */
.main {
  /* SUBNAV */

  /*videos*/

  /*addUser*/

  /*events*/

}
.main header.main {
  background: rgba(0, 0, 0, 0.6);
}
.main header.main .content {
  width: 94%;
}
.main header.main a.logo {
  float: left;
}
.main header.main nav.main {
  float: right;
}
.main header.main nav.main ul {
  overflow: hidden;
  list-style-type: none;
  padding: 1em 0 0 0;
}
.main header.main nav.main ul li {
  float: left;
  padding: 0 2em 0 0;
}
.main header.main nav.main ul li a {
  position: relative;
  display: block;
  width: 4em;
  height: 4em;
}
.main header.main nav.main ul li a:hover {
  opacity: 1;
}
.main header.main nav.main ul li.active a {
  opacity: 1;
}
.main header.main nav.main ul a#adduser-icon {
  background: url(/img/add-user-icon.png) no-repeat;
}
.main header.main nav.main ul li.active a#adduser-icon,
.main header.main nav.main ul a#adduser-icon:hover {
  background: url(/img/add-user-icon-over.png) no-repeat;
}
.main header.main nav.main ul a#map-icon {
  background: url(/img/map-icon.png) no-repeat;
}
.main header.main nav.main ul li.active a#map-icon,
.main header.main nav.main ul a#map-icon:hover {
  background: url(/img/map-icon-over.png) no-repeat;
}
.main header.main nav.main ul a#profile-icon {
  background: url(/img/user-icon.png) no-repeat;
}
.main header.main nav.main ul li.active a#profile-icon,
.main header.main nav.main ul a#profile-icon:hover {
  background: url(/img/user-icon-over.png) no-repeat;
}
.main header.main nav.main ul .badge-important {
  position: absolute;
  padding: 0 0.5em;
  right: 0;
}
.main .subnav ul {
  margin: 1em 0 0 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.main .subnav ul li {
  float: left;
  border-right: 0.2em solid #949494;
  padding: 0 1em;
  text-align: center;
}
.main .subnav ul li a {
  text-decoration: none;
}
.main .subnav ul li a:link {
  color: #949494;
}
.main .subnav ul li a:visited,
.main .subnav ul li a:hover {
  color: #fff;
}
.main .subnav ul li a:hover {
  font-weight: bold;
}
.main .subnav ul li:last-child {
  border-right: none;
}
.main .subnav ul li.active a {
  font-weight: bold !important;
}
.main .tab-pane {
  padding: 7em 0 0 0;
}
.main #videos {
  overflow: hidden;
}
.main #videos .col1 {
  float: left;
  position: relative;
  width: 76.5625%;
}
.main #videos .col2 {
  float: left;
  position: relative;
  width: 23.4375%;
}
.main #adduser {
  min-height: 46em;
  padding: 9em 2em 2em 2em;
  background: #eeedeb;
}
.main #adduser textarea {
  display: block;
  width: 90%;
}
.main #events {
  /* EVENTS LIST */

}
.main #events #eventsmenu {
  width: 96%;
  padding: 5px 2%;
  background: #fff;
  overflow: hidden;
}
.main #events #eventsmenu h2 {
  float: left;
}
.main #events #eventsmenu .subnav {
  float: right;
  margin: 1em 0 0 0;
}
.main #events #eventsmenu .subnav a {
  color: #949494 !important;
}
.main #events #eventsmenu .addEventsBtn {
  margin: 1.5em 0 0 2em;
}
.main #events .events-single-col {
  min-height: 46em;
  padding: 0;
  background: #eeedeb;
}
.main #events ul.eventslist {
  padding: 0 4%;
  margin: 0;
  list-style-type: none;
  height: 400px;
  overflow-y: scroll;
}
.main #events ul.eventslist li {
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px solid #c3c3c3;
}
.main #events ul.eventslist li article {
  float: left;
  width: 60%;
  padding: 10px 0 0 0;
}
.main #events ul.eventslist li article h3 {
  padding-bottom: 5px;
}
.main #events ul.eventslist li article p.time {
  padding-bottom: 5px;
}
.main #events ul.eventslist li article p.location {
  padding-bottom: 5px;
}
.main #events ul.eventslist li .mapWrap {
  float: right;
  width: 35%;
  height: 200px;
  margin-top: 20px;
  margin-left: 5%;
}
.main #events .eventslist .icon-plus {
  color: #fff;
}
/*modules*/
/*add events modal*/
#addEventsModal #gradelevel {
  padding: 8px 0 0 0;
  overflow: hidden;
}
#addEventsModal #gradelevel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
  width: 140px;
}
#addEventsModal #gradelevel ul li {
  overflow: hidden;
}
#addEventsModal #gradelevel ul li label {
  float: right;
  font-size: 12px;
  margin: 0;
  width: 120px;
}
#addEventsModal #gradelevel ul li input {
  float: left;
}
#addEventsModal label.error {
  font-size: 11px;
  color: #ff0000;
}
.bootstrap-datetimepicker-widget {
  z-index: 9999;
}
