@import url( "persona-buttons.css" );
@import  "lesshat.less";

@headerOpacity: 0.6;

body {
	font-size:10px;
	font-family: 'Myriad Pro','PT Sans', arial, sans-serif;
	background:#fff;
}
/* globals */
h1 {
	font-size:3.8em;
	font-weight: bold;
}
h2{
	font-size:2em;
	font-weight: bold;
}
h3{
	color:#3e9ed5;
	font-size:1.8em;
}
a:link, 
a:visited, 
a:hover{
	text-decoration:none;
}

label{
	font-size:2em;
	padding-bottom:0.5em;
}

/*content - centering div*/
.content {
	position:relative;
	width:96em;
	margin:0 auto;
}

/*header*/
header.main {
	width:100%;
	position:absolute;
	top:0;
	height:6.7em;
	z-index:10;
}

/*footer*/
footer {
	text-align:center;
	padding-bottom:3em;
	ul{
		li{
			display:inline;
			border-right:1px solid #ccc;
			a{
				color:#56acdd;
				font-size:1.4em;
				padding:0 0.7em;
			}
		}
		li:last-child{
			border-right:none;
		}
	} 
	
}

#homefooter{text-align:center; font-size:14px; color:#ccc;}
#homefooter a{text-decoration:none; color:#56acdd; padding:0 10px;}
#homefooter ul, li{margin:0; padding:0;}
#homefooter li{list-style:none; display:inline; border-right:1px solid #ccc;}
#homefooter li:last-child{border-right:none;}

/* home page styles */
.home {
	header.main {
		padding-top:2em;
	}
	section.main {
		position:relative; 
		color:#fff;
		background:#666 url(../img/home/headerbgd.jpg) no-repeat;
		.background-size(cover);
		.content {
			height:43.0em;
			padding-top:2em;
			article{
				width:35em;
				padding-top:7.7em;
				h1 {
					font-size:2.6em;
					text-shadow: 2px 2px rgba(0,0,0,0.5);
					font-weight: bold;
				}
				p {
					font-size:1.8em;
					line-height:1.1em;
					text-shadow: 2px 2px rgba(0,0,0,0.5);
					padding:1em 0 0.8em 0;
				}

			}
			
			img.monitor{
				position:absolute;
				right:0;
				bottom:0;
			}
		}
		
	}
	section.bottom {
		background: #fff;
		ul.touts {
			overflow:hidden;
			padding:3em 0 3em 0;
			li.tout {
				float:left;
				width:33%;

				h2 {
					font-size:2.2em;
				}
				ul{
					list-style-type: disc;
					list-style-position: outside;
					padding:1em 1em 0 2em;
					li {
						font-size:1.8em;
						line-height:1.1em;
					}
				}
				img {
					margin:0 auto;
				}
			}
		}
	}
}


/* main styles */
.main {
	/*main nav*/
	.globalMarker {
		width:94%;
		margin:0 auto;
		position:relative;
		a.openPathMarker {
			display:block;
			position:absolute;
			background: url('../img/marker.png') no-repeat scroll top left;
			width: 44px;
			height: 44px;
			top:1.2em;
			z-index:11;
			.background-size(cover);
		}
	}
	
	header.main {
		background: rgba(0,0,0,@headerOpacity);
		.content {
			width:94%;
		}
		a.logo {
			float:left;
			padding:2em 0 0 6em;
			span{
				font-size:3em;
				font-weight:bold;
				line-height:1.1em;
				text-shadow: 2px 2px rgba(0,0,0,0.5);
				color:#fff;
				letter-spacing:0.1em;
			}
		}
		nav.main {
			float:right; 
			ul {
				overflow: hidden;
				list-style-type: none;
				padding:1em 0 0 0;
				li {
					float:left;
					padding:0 2em 0 0;
					a {
						position: relative;
						display:block;
						width:4em;
						height:4em;

					}
					a:hover {
						opacity:1;
					}
				}

				li.active {
					a{opacity:1;}
				}
				a#adduser-icon{background:url(/img/add-user-icon.png) no-repeat;}			
				li.active a#adduser-icon, 
				a#adduser-icon:hover{background:url(/img/add-user-icon-over.png) no-repeat;}
						
				a#map-icon{background:url(/img/map-icon.png) no-repeat;}
				li.active a#map-icon, 
				a#map-icon:hover{background:url(/img/map-icon-over.png) no-repeat;}

				a#profile-icon{background:url(/img/user-icon.png) no-repeat;}
				li.active a#profile-icon, 
				a#profile-icon:hover{background:url(/img/user-icon-over.png) no-repeat;}
				
				/*with gravatar*/
				a#profile-icon.gravatar {
					.border-radius(2.5em);
					border:2px solid rgba(255,255,255,0.8);
					background-size :contain;
				}
				
				
				.badge-important{
					position:absolute;
					padding:0 0.5em; 
					right:0;
				}

			}
		}
	}
	/* SUBNAV */
	.subnav {
		ul{
			margin:1em 0 0 0;
			padding:0;
			list-style:none;
			overflow: hidden;
			li{
				float:left;
				border-right:0.2em solid #949494; 
				padding:0 1em; 
				text-align:center;
				/*
				a {
					text-decoration:none;
				}
				a:link {
					color:#949494;
				}
				a:visited, 
				a:hover{
					color:#fff;
				}*/
				a {
					text-decoration:none;
					color:#949494;
					font-size:1.3em;
				}
				a.active,
				a:hover {
					font-weight:bold;
					color:rgba(27,27,27,1);
				}
			}
			li:last-child{
				border-right:none;
			}
			li.active {
				a {
					font-weight:bold !important;	
				}
			}
		}
	}
	/*tabs*/
	.main-tab {
		padding:7em 0 0 0;
		display:none;
	}
	/*videos*/ /*TODO: ems below*/
	#videos {
		overflow:hidden;
		padding:0;
		display:block;
		video {
			background: url('../img/poster.png') no-repeat scroll center;
			.background-size(cover);
		}
		.col1{
			float:left;
			position:relative;
			width:75%;
		}
		.col2{
			float:left;
			position:relative;
			width:25%;
		}
		.navHotSpot {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:8em;
			z-index:3;
		}
		/*#usermeta*/
		.usermeta{
			z-index:2; 
			color:#fff; 
			position:absolute; 
			width:100%;
			background:rgba(0,0,0,@headerOpacity); 
			.username{
				padding:7px;
				a {
					font-size:1.6em;
					line-height:1.2em;
				}
				i{
					display:block; 
					float:right;
				}
				.icon-map-marker{
					display:inline-block; 
					float:right;
					font-size:1.6em;
					span{
						display:none;
					}
				}
				.icon-map-marker:hover{
					color:#08c;
				}
			}
			.username > a:link, 
			.username > a:visited{
				color:#fff !important;
			}
			.username > a:hover{
				color:#08c;
			}
			.userlocation {
				height:20px; 
				font-size:11px; 
				padding:2%; 
			}
			.usermap{
				margin:0; 
				height:100px;
				background:rgba(255,255,255,0.2);
			}

		}
		
		.usermetashowing{
			background:rgba(0,0,0,0.3);
			.icon-map-marker span {
				display:inline-block !important;
			}
			.icon-map-marker:before{
				content:'' !important;
			}
		}
		/*main vidoe*/
		#video {
			/*TODO hook  up -  hide till later*/
			.usermeta {
				position:absolute;
				top:10em;
				width:30em;
				display:none;
				.transition(~"width 1s ease-in-out"); 
				.usermap{
					height:0;
					.transition(~"height 1s ease-in-out"); 
				}
			}
		}
		video#main_videoplayer {
			
		}
		/*side videos*/
		.userVideo {
			/*
			position:relative;
			min-height:180px;*/
			line-height: 0 !important;
			overflow:hidden;
			cursor:pointer;
			transition:opacity 1s ease-out;
			
			video.avatar{
				width: 100% !important;
				height: 100% !important;
			}
			
			.usermeta, 
			.username, 
			.userlocation, 
			.usermap{
				display:none;
			}
		}
		
		/*#chat*/
		#chat {
			position:absolute;
			width:100%;
			bottom:-225px;
			z-index:11;
			background:rgba(0,0,0,@headerOpacity);
			.transition(~"bottom 1s ease-in-out"); 
			header {
				overflow:hidden;
				padding:0.8em 1em;
				p.msg {
					float:left;
					color:#d6d6d6;
					font-size:1.8em;
					padding:0 0 0 10px;
					margin:0;
				}
				a.toggler {
					background: url('../img/sprite-chat-icon.png') no-repeat scroll 0 -12px;
					width: 12px;
					height: 12px;
					float:right;
					text-indent:-9999px;
				}
			}
			#chatwindow{
				/*height:42.96875%; max-width:240px;*/ 
				height:130px; 
				overflow:auto; 
				padding:0 10px 0 20px; 
				/*background:#ebeae7;*/
				strong{
					font-weight:normal;
				}
				ol{
					margin:0;
					padding:0;
					li{
						display:block;
						list-style:none;
						padding:7px 0;
						font-size:1.3em;
						color:#fff;
						span {
							font-weight:bold;
						}
					}
				}
			}
			input.commentfield{
				width:90%;
				padding:10px;
				/*max-width:215px; */
				margin:25px 10px 35px 20px;
			}
			.user1 span{color:#3e9ed5;}
			.user2 span{color:#747474;}
		}
		/*chat open*/
		#chat.open {
			bottom:0;
			header {
				a.toggler {
					background-position: 0 0;
				}
			}
		}


	}
	/*addUser*/
	#addUser{
		min-height:46em;
		padding:9em 2em 2em 2em;
		background: #eeedeb;
		textarea{
			display:block; 
			width:90%;
		}
	}
	/*events*/
	#events {
		#eventsmenu{
			width:96%; 
			padding:5px 2%;
			background:#fff;
			overflow: hidden;
			h2 {
				float:left;
			}
			.subnav {
				float:right;
				margin:1em 0 0 0;
			}
		}
		.events-single-col {
			/*min-height:46em;*/
			padding:0;
			background: #eeedeb;
		}
		/* EVENTS LIST */
		ul#eventslist {
			padding:0 4%;
			margin:0;
			list-style-type: none;
			/*
			height:400px;
			overflow-y:scroll;*/
			li.event {
				width:100%;
				overflow:hidden;
				padding-bottom:20px; 
				border-bottom:1px solid #c3c3c3;
				article{
					float:left;
					width:60%;
					padding:10px 0 0 0;
					h3{
						padding-bottom:0px;
					}
					p {
						font-size:1.3em;
					}
					p.date{
						padding-bottom:5px;
					}
					p.location{
						padding-bottom:5px;
					}
				}
				.mapWrap{
					float:right;
					width:35%;
					height:200px;
					margin-top:20px;
					margin-left:5%;
				}
			}
		}
		.eventslist .icon-plus{color:#fff;}
		.eventsholder{}
			
		/*addEvent*/
		#addEvent{
			display:none;
			padding:20px 4%;
			input[type="text"],
			input[type="date"],
			textarea {
				width:35em;
			}
			fieldset {
				label {
					font-weight:600;
					font-size:2em;
					padding-bottom:0.1em;
				}
				textarea {
					height:6em;
				}
			}
			fieldset#gradelevel  {
				padding:0.8em 0 1em 0;
				overflow: hidden;
				ul {
					list-style-type: none;
					padding:0;
					margin:0;
					float:left;
					width:140px;
					li {
						overflow:hidden;
						label {
							float:right;
							font-size:1.3em;
							margin:0;
							width:120px;
						}
						input {
							float:left;
						}
					}
				}
			}
			label.error {
				font-size:11px;
				color:#ff0000;
			}
		}
	}
	/*user*/
	#user {
		#usermenu{
			background:#f6f6f6; 
			width:92%;
			height:65px;
			padding:2% 4% 0 4%; 
			position: absolute;
			overflow:hidden; 
			z-index: 9;
			.col50 {

			}
			.left {
				float:left;
			}
			.right{
				float:right;
			}
			.userIcon {
				width:40px;
				height:40px;
				float:left;
				background:url(/img/user-icon.png) no-repeat;
			}
			/*with gravatar*/
			.userIcon.gravatar {
				.border-radius(2.5em);
				border:2px solid rgba(255,255,255,0.8);
				background-size :contain;
			}
			
			h1 {
				font-size:28px;
				margin-left:10px; 
				font-weight:normal;
				float:left;
			}
			.subnav {
				li{
					border-right:2px solid #ccc;
					a{
						color:#3e9ed5 !important;
					}
				}
				li:last-child{
					border-right:none;
				}	
			}
		}
		.usertab-single-col{
			min-height:460px;
			padding: 100px 4%;
			background: #eeedeb;
		}
		#mypath {
			.eventslist{
				margin-top:100px; 
				min-height:560px;
			}
		}
		/*profile display*/
		#profile {
			.displayView {
				a.editProfileBtn {
					float:right;
				}
			}
			.editView {
				.profileIntro {
					padding-bottom:20px;
				}
				form {
					.userIcon {
						position:absolute;
						top:90px;
						left:4%;
						z-index:10;
						width:40px;
						height:40px;
						overflow:hidden;
						input {
							padding:40px 0 40px 0;
							opacity:0;
							cursor:pointer;
						}
					}
					fieldset.name {
						position:absolute;
						top:100px;
						left:9%;
						z-index:10;
					}
				}
			}
			#logout {
				margin-top:50px;
			}
			label{
				font-weight:bold;
			}
			small{
				font-size:12px;
			}
		}
		/*mypathmap*/
		#mypathmap{
			width:100%; 
			height:100%; 
			min-height:640px;
			.col1{
				float:left;
				position:relative;
				width:76.5625%;
			}
			.col2{
				float:left;
				position:relative;
				width:23.4375%;
			}
		}
		/*settings*/
		#settings {
			form {
				article {
					fieldset {
						overflow:hidden;
						label {
							float:left;
						}
						input {
							float:left;
						}
						input[type="radio"] {
							margin:0 0 0 3px;
						}
					}
				}
				article.saved {
					margin:10px 0 0 0;
					color:#999999;
				}
			}	
		}
	}
}



/**
 * bootstrap modal override for google autocomplete fix
 */
 .modal-backdrop {
 	z-index: 500 !important;
 }
 .modal {
 	z-index: 501 !important;
 	position:absolute;
 }