@import url("libraries/reset.css");
@import "libraries/lesshat.less";

@pink:rgba(255,0,255,0.7);

body {
	background:#fff;
	font-family:"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size:10px;
	/*
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	*/
	/*.user-select(none);*/
	-webkit-tap-highlight-color:@pink;


	/**
	 * globals
	 */
	button {
		background:@pink;
		border:none;
		outline:none;
		cursor:pointer;
	}
	button:hover {
		background:#ccc;
	}

	table {
		width:100%;
		border:1px solid black;
		tr {
			th,
			td {
				border:1px solid #ccc;
				text-align:center;
				padding:3px 0 3px 0;
			}
			th {
				font-weight:bold;
			}
		}
	}
	/**
	 * pages
	 */
	#intro {
		@import "modules/intro.less";
	}
	#home {
		video {
			border:1px dotted red;
		}
	}

}
::selection {
	background:@pink; /* Safari & Chrome */
}
::-moz-selection {
	background:@pink; /* Firefox */
}


