@import url("libraries/reset.css");
/**
 * vars
 */
/**
 * mixins
 */
a.closeBtn {
  height: 12px;
  width: 12px;
  background: url('/images/btn-close.png') no-repeat;
}
body {
  background: #fff;
  font-family: 'Myriad Pro', 'PT Sans', arial, sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  /*
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	*/
  /*.user-select(none);*/
  -webkit-tap-highlight-color: #56acdd;
  /**
	 * globals
	 */
  /* a centering div */
  /**
	 * admin
	 */
  /**
	 * shared
	 */
  /**
	 * pages
	 */
}
body a {
  color: #56acdd;
  text-decoration: none;
}
body a:hover {
  color: #ccc;
}
body strong {
  font-weight: bold;
}
body .btn,
body input[type=submit],
body button {
  color: #fff;
  font-size: 1.8em;
  padding: 12px 15px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #56acdd;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1YmIwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUwYTdkOCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #5bb0e0 0%, #50a7d8 100%);
  background-image: -moz-linear-gradient(top, #5bb0e0 0%, #50a7d8 100%);
  background-image: -o-linear-gradient(top, #5bb0e0 0%, #50a7d8 100%);
  background-image: linear-gradient(to bottom, #5bb0e0 0%, #50a7d8 100%);
  border: 1px solid #6d8391;
  -webkit-box-shadow: 0px 1px 2px rgba(20, 20, 20, 0.5);
  -moz-box-shadow: 0px 1px 2px rgba(20, 20, 20, 0.5);
  box-shadow: 0px 1px 2px rgba(20, 20, 20, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
}
body .btn:hover,
body button:hover {
  background: #ccc;
}
body form fieldset {
  padding: 0 0 3em 0;
}
body form input[type=text],
body form input[type=password],
body form input[type=date],
body form input[type=time],
body form textarea {
  font-size: 1.8em;
  border: 1px solid #dddddd;
  padding: 0.3em 0.5em;
  width: 20em;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
body .tip {
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  -moz-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  -o-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5em 0.5em 0.4em 0.5em;
}
body label,
body h3.label {
  font-size: 2em;
  font-weight: bold;
  display: block;
}
body .content {
  width: 94%;
  margin: 0 auto;
  position: relative;
}
body .admin {
  padding: 1em 2em;
}
body .admin table {
  width: 100%;
  border: 1px solid black;
}
body .admin table tr th,
body .admin table tr td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 3px 0 3px 0;
}
body .admin table tr th {
  font-weight: bold;
}
body footer {
  padding: 2em 0 2em 0;
}
body footer ul {
  text-align: center;
}
body footer ul li {
  display: inline;
  padding: 0 10px 0 10px;
}
body footer ul li a {
  font-size: 1.3em;
  display: inline;
}
body .modalWrap {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
body .modalWrap .modalContent {
  background: #fff;
  position: absolute;
  width: 100em;
  top: 5em;
  left: 50%;
  margin-left: -50em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1em;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1em;
  -moz-background-clip: padding;
  border-radius: 1em;
  background-clip: padding-box;
  padding: 4em;
}
body .modalWrap .modalContent a.closeBtn {
  position: absolute;
  top: 2em;
  right: 2em;
  text-indent: -9999px;
}
body .modalWrap .modalContent section.modal {
  display: none;
}
body .modalWrap .modalContent section.modal h1 {
  font-size: 3em;
  color: #c0c2c4;
  padding-bottom: 1rem;
}
body .modalWrap .modalContent section.modal h2,
body .modalWrap .modalContent section.modal h4 {
  font-size: 2em;
  padding-bottom: 1rem;
}
body .modalWrap .modalContent section.modal p {
  font-size: 1.5em;
  line-height: 1.3em;
  padding-bottom: 1em;
}
body .modalWrap .modalContent section.modal ul,
body .modalWrap .modalContent section.modal ol {
  padding: 0 0 1em 3em;
  list-style-type: disc;
}
body .modalWrap .modalContent section.modal ul li,
body .modalWrap .modalContent section.modal ol li {
  font-size: 1.5em;
  line-height: 1.3em;
  padding-bottom: 1em;
}
body .alertModal .modalContent {
  width: 35em;
  margin-left: -17.5em;
}
body .alertModal .modalContent a.closeBtn {
  display: none;
}
body #intro section.main {
  background: #666666 url('/images/home/headerbgd.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
body #intro section.main .content {
  overflow: hidden;
  padding-top: 2em;
}
body #intro section.main .content h1 {
  /*
			font-size:4em;
			line-height:1.1em;
			font-weight: bold;
			text-shadow: 2px 2px rgba(0,0,0,0.5);
			color:#fff;*/
  padding-bottom: 8.8em;
}
body #intro section.main .content .toggle {
  position: relative;
  width: 50%;
  min-height: 28em;
  z-index: 1;
  display: none;
}
body #intro section.main .content .callout {
  display: block;
}
body #intro section.main .content .callout h2 {
  font-size: 2.6em;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-bottom: 0.6em;
}
body #intro section.main .content .callout p {
  font-size: 2.2em;
  color: #fff;
  padding-bottom: 1.4em;
}
body #intro section.main .content .callout span {
  font-size: 2em;
  padding: 0 0.5em;
  color: #fff;
}
body #intro section.main .content img.computer {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}
body #intro section.main .content .login form label,
body #intro section.main .content .signup form label {
  color: #fff;
}
body #intro section.main .content .login form input[type=text],
body #intro section.main .content .signup form input[type=text],
body #intro section.main .content .login form input[type=password],
body #intro section.main .content .signup form input[type=password] {
  width: 15em;
}
body #intro section.bottomCallouts .content .calloutWrap {
  overflow: hidden;
  width: 100%;
  text-align: center;
}
body #intro section.bottomCallouts .content .calloutWrap article {
  text-align: left;
  width: 30%;
  font-size: 0.8em;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3em 4em 0 4em;
}
body #intro section.bottomCallouts .content .calloutWrap article h2 {
  font-size: 2.6em;
  font-weight: bold;
  text-align: center;
}
body #intro section.bottomCallouts .content .calloutWrap article ul {
  list-style-type: disc;
  padding: 2.8em 0 0 3em;
}
body #intro section.bottomCallouts .content .calloutWrap article ul li {
  font-size: 1.8em;
  padding: 0 0 0.5em 0;
}
body #intro section.bottomCallouts .content .calloutWrap article .icon {
  width: 100%;
}
body #intro section.bottomCallouts .content .calloutWrap article .icon img {
  width: 100%;
}
body #home {
  /**
		 * header
		 */
  /**
 * header styles
 */
  /**
		 * page
		 */
  /**
		 * individual 'pages'
		 */
}
body #home header#mainHeader {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 1em 0;
}
body #home header#mainHeader .content {
  overflow: hidden;
}
body #home header#mainHeader .content a.logo {
  float: left;
  overflow: hidden;
}
body #home header#mainHeader .content a.logo .marker {
  float: left;
  width: 4em;
  height: 4em;
  background-image: url('/images/marker.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5em;
}
body #home header#mainHeader .content a.logo .title {
  float: left;
}
body #home header#mainHeader .content a.logo .title h1 {
  font-size: 3.8em;
  line-height: 1.1em;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
}
body #home header#mainHeader .content a.logo .title h2 {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.3em;
  text-transform: capitalize;
}
body #home header#mainHeader .content a.logo .title h3 {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}
body #home header#mainHeader .content a.logo .title h3 span.startTime,
body #home header#mainHeader .content a.logo .title h3 span.endTime {
  font-size: 0.8em;
  font-weight: normal;
}
body #home header#mainHeader .content a.logo .eventTitle h1 {
  display: none;
}
body #home header#mainHeader .content nav.main {
  float: right;
}
body #home header#mainHeader .content nav.main ul {
  overflow: hidden;
  list-style-type: none;
}
body #home header#mainHeader .content nav.main ul li {
  float: left;
  padding: 0 2em 0 0;
}
body #home header#mainHeader .content nav.main ul li a {
  position: relative;
  top: 0.3em;
  display: block;
  background-image: url('/images/nav-icons.png');
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 1s linear, color 0.4s 0.2s ease;
  -moz-transition: opacity 1s linear, color 0.4s 0.2s ease;
  -o-transition: opacity 1s linear, color 0.4s 0.2s ease;
  transition: opacity 1s linear, color 0.4s 0.2s ease;
  opacity: 0.7;
}
body #home header#mainHeader .content nav.main ul li a span.badge {
  position: absolute;
  padding: 0.5em 0.5em 0.2em 0.5em;
  top: -0.3em;
  left: -0.2em;
  color: #fff;
  font-weight: bold;
  background: #ff0000;
  -webkit-border-radius: 1em;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1em;
  -moz-background-clip: padding;
  border-radius: 1em;
  background-clip: padding-box;
  /*hide for now*/
}
body #home header#mainHeader .content nav.main ul li a:hover,
body #home header#mainHeader .content nav.main ul li a.active {
  opacity: 1;
}
body #home header#mainHeader .content nav.main ul li.invite a {
  width: 3.8em;
  height: 3.2em;
  background-position: -78px -2px;
}
body #home header#mainHeader .content nav.main ul li.invite a.active {
  background-position: -118px -2px;
}
body #home header#mainHeader .content nav.main ul li.events a {
  top: 0;
  width: 3.6em;
  height: 3.6em;
  background-position: -2px -2px;
}
body #home header#mainHeader .content nav.main ul li.events a.active {
  background-position: -40px -2px;
}
body #home header#mainHeader .content nav.main ul li.profile a {
  width: 3.6em;
  height: 3.2em;
  background-position: -158px -2px;
}
body #home header#mainHeader .content nav.main ul li.profile a.active {
  background-position: -196px -2px;
}
body #home section.page {
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  -moz-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  -o-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  /**
 * subnav
 */
}
body #home section.page nav.subnav {
  background: #f6f6f6;
}
body #home section.page nav.subnav .content {
  overflow: hidden;
  padding: 2em 0;
}
body #home section.page nav.subnav .content h1 {
  float: left;
  font-size: 2em;
  font-weight: bold;
}
body #home section.page nav.subnav .content ul {
  float: right;
}
body #home section.page nav.subnav .content ul li {
  display: inline-block;
  border-right: 0.2em solid #949494;
  padding: 0 1em;
  text-align: center;
}
body #home section.page nav.subnav .content ul li a {
  font-weight: bold;
  color: #949494;
  font-size: 1.8em;
}
body #home section.page nav.subnav .content ul li a.active,
body #home section.page nav.subnav .content ul li a:hover {
  color: #1b1b1b;
}
body #home section.page nav.subnav .content ul li:last-child {
  border-right: none;
}
body #home section.page .view {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear, color 0.4s 0.2s ease;
  -moz-transition: opacity 0.2s linear, color 0.4s 0.2s ease;
  -o-transition: opacity 0.2s linear, color 0.4s 0.2s ease;
  transition: opacity 0.2s linear, color 0.4s 0.2s ease;
  background: #eeedeb;
  padding: 2em 0;
}
body #home section#videos #videosView {
  width: 100%;
  padding: 0;
  background: #000;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  /**
	 * video mixin
	 */
  /**
	 * usermeta
	 */
  /*#chat*/
  /*chat open*/
}
body #home section#videos #videosView .usermeta {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  -moz-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  -o-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  transition: opacity 0.5s linear, color 0.4s 0.2s ease;
}
body #home section#videos #videosView .usermeta header {
  overflow: hidden;
  padding: 0.6em 1em 0.4em 1em;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
body #home section#videos #videosView .usermeta header .closeBtn {
  float: right;
  background-image: url('/images/close-icon.png');
  background-repeat: no-repeat;
  width: 10px;
  height: 11px;
  padding-bottom: 6px;
  position: relative;
  top: 3px;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  -moz-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  -o-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  opacity: 0.7;
  display: none;
}
body #home section#videos #videosView .usermeta header .closeBtn:hover {
  opacity: 1;
}
body #home section#videos #videosView .usermeta header .mapBtn {
  float: right;
  background-image: url('/images/map-icon.png');
  background-repeat: no-repeat;
  width: 12px;
  height: 17px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  -moz-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  -o-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  opacity: 0.7;
}
body #home section#videos #videosView .usermeta header .mapBtn:hover {
  opacity: 1;
}
body #home section#videos #videosView .usermeta header .username {
  color: #fff;
  float: left;
  font-size: 1.8em;
  font-weight: bold;
}
body #home section#videos #videosView .usermeta .mapWrap {
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  -moz-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  -o-transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  transition: opacity 0.5s linear, color 0.4s 0.2s ease;
  padding: 0.4em 1em;
  height: 75%;
  position: relative;
  z-index: 0;
}
body #home section#videos #videosView .usermeta .mapWrap .locactionName {
  color: #fff;
  float: left;
  font-size: 1.2em;
}
body #home section#videos #videosView .usermeta .mapWrap .map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
body #home section#videos #videosView #presenter,
body #home section#videos #videosView aside {
  float: left;
  height: 100%;
}
body #home section#videos #videosView #presenter {
  width: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('/images/poster.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body #home section#videos #videosView #presenter .video {
  position: relative;
  width: 100%;
  height: 100%;
}
body #home section#videos #videosView #presenter .video video {
  width: 100%;
  height: 100%;
}
body #home section#videos #videosView #presenter .usermeta {
  top: 100px;
  width: 45%;
  height: 40%;
}
body #home section#videos #videosView aside {
  width: 25%;
}
body #home section#videos #videosView aside ul#peersList {
  height: 100%;
}
body #home section#videos #videosView aside ul#peersList li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('/images/poster.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 25%;
}
body #home section#videos #videosView aside ul#peersList li .video {
  position: relative;
  width: 100%;
  height: 100%;
}
body #home section#videos #videosView aside ul#peersList li .video video {
  width: 100%;
  height: 100%;
}
body #home section#videos #videosView #chat {
  position: absolute;
  width: 75%;
  bottom: -225px;
  z-index: 11;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: bottom 0.3s ease-in-out;
  -moz-transition: bottom 0.3s ease-in-out;
  -o-transition: bottom 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out;
}
body #home section#videos #videosView #chat header {
  overflow: hidden;
  padding: 0.8em 1em;
  cursor: pointer;
}
body #home section#videos #videosView #chat header p.msg {
  float: left;
  color: #d6d6d6;
  font-size: 1.8em;
  padding: 0 0 0 10px;
  margin: 0;
}
body #home section#videos #videosView #chat header p.blink {
  -webkit-animation: blink 2s infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
body #home section#videos #videosView #chat header a.toggler {
  background: url('/images/sprite-chat-icon.png') no-repeat scroll 0 -12px;
  width: 12px;
  height: 12px;
  float: right;
  text-indent: -9999px;
}
body #home section#videos #videosView #chat #chatwindow {
  /*height:42.96875%; max-width:240px;*/
  height: 130px;
  overflow: auto;
  padding: 0 10px 0 20px;
  /*background:#ebeae7;*/
}
body #home section#videos #videosView #chat #chatwindow strong {
  font-weight: normal;
}
body #home section#videos #videosView #chat #chatwindow ol {
  margin: 0;
  padding: 0;
}
body #home section#videos #videosView #chat #chatwindow ol li {
  display: block;
  list-style: none;
  padding: 7px 0;
  font-size: 1.3em;
  color: #fff;
}
body #home section#videos #videosView #chat #chatwindow ol li span {
  font-weight: bold;
}
body #home section#videos #videosView #chat #chatwindow ol li.me span {
  color: #3e9ed5;
}
body #home section#videos #videosView #chat #chatwindow ol li.other span {
  color: #d53e5e;
}
body #home section#videos #videosView #chat #chatwindow ol li.server {
  color: #777;
}
body #home section#videos #videosView #chat #chatwindow ol li.server span {
  color: #747474;
}
body #home section#videos #videosView #chat input.commentfield {
  width: 90%;
  padding: 10px;
  /*max-width:215px; */
  margin: 25px 10px 35px 20px;
}
body #home section#videos #videosView #chat.open {
  bottom: 0;
}
body #home section#videos #videosView #chat.open header a.toggler {
  background-position: 0 0;
}
body #home section#invite {
  /**
 *inviteToEvent
 */
}
body #home section#invite #inviteView .content h1 {
  font-size: 2em;
  font-weight: bold;
  display: block;
  font-size: 3em;
  padding: 0 0 1em 0;
}
body #home section#invite #inviteView .content form {
  background: #eeedeb;
}
body #home section#invite #inviteView .content form textarea {
  display: block;
  width: 90%;
  height: 17em;
}
body #home section#profile {
  /**
 * myProfile
 */
  /**
 * editProfile
 */
  /**
 * settings
 */
}
body #home section#profile #myProfile .content a.editBtn {
  font-size: 1.8em;
  float: right;
}
body #home section#profile #myProfile .content article {
  padding: 0 0 3em 0;
}
body #home section#profile #editProfile .content .profileIntro {
  padding: 0 0 3em 0;
}
body #home section#profile #editProfile .content .profileIntro p {
  font-size: 2em;
  line-height: 1.3em;
  font-weight: bold;
}
body #home section#profile #editProfile .content form header.name {
  position: absolute;
  background: #f6f6f6;
  top: -70px;
}
body #home section#profile #editProfile .content form header.name input[type=text] {
  width: 15em;
}
body #home section#profile #editProfile .content form header.name .userIcon {
  position: absolute;
  top: 2px;
  z-index: 10;
  width: 3.6em;
  height: 3.2em;
  background-image: url('/images/nav-icons.png');
  background-position: -158px -2px;
  overflow: hidden;
}
body #home section#profile #editProfile .content form header.name .userIcon input {
  padding: 40px 0 40px 0;
  opacity: 0;
  cursor: pointer;
}
body #home section#profile #editProfile .content form header.name fieldset {
  padding: 0 0 0 4.5em;
}
body #home section#profile #settings .content form article fieldset {
  overflow: hidden;
}
body #home section#profile #settings .content form article fieldset label {
  float: left;
}
body #home section#profile #settings .content form article fieldset input {
  float: left;
}
body #home section#profile #settings .content form article fieldset input[type="radio"] {
  margin: 0 0 0 3px;
}
body #home section#profile #settings .content form article.saved {
  margin: 10px 0 0 0;
  color: #999999;
}
body #home section#events {
  /**
 * eventsList
 */
  /**
 * nearByEvents
 */
  /**
 * addNewEvent
 */
}
body #home section#events ul.eventsList {
  list-style-type: none;
}
body #home section#events ul.eventsList li.event {
  width: 100%;
  overflow: hidden;
  padding-bottom: 2em;
  border-bottom: 1px solid #c3c3c3;
}
body #home section#events ul.eventsList li.event article {
  float: left;
  width: 60%;
  padding: 2em 0 0 0;
}
body #home section#events ul.eventsList li.event article h3 {
  font-size: 2em;
  font-weight: bold;
  display: block;
  padding-bottom: 0.5em;
}
body #home section#events ul.eventsList li.event article p {
  font-size: 1.5em;
  line-height: 1.3em;
  padding-bottom: 1em;
}
body #home section#events ul.eventsList li.event article p.date {
  font-weight: bold;
}
body #home section#events ul.eventsList li.event article p.date span {
  font-size: 0.8em;
  color: #666;
}
body #home section#events ul.eventsList li.event article p.location {
  font-weight: bold;
}
body #home section#events ul.eventsList li.event article .buttons {
  overflow: hidden;
}
body #home section#events ul.eventsList li.event article .buttons .joinBtn {
  float: left;
}
body #home section#events ul.eventsList li.event article .buttons .inviteBtn,
body #home section#events ul.eventsList li.event article .buttons .editBtn {
  float: right;
  margin: 0 0.5em;
}
body #home section#events ul.eventsList li.event .mapWrap {
  float: right;
  width: 35%;
  height: 200px;
  margin-top: 20px;
  margin-left: 5%;
}
body #home section#events ul.eventsList li.event:last-child {
  border-bottom: 0;
}
body #home section#events #nearByEvents {
  border: 1px solid red;
}
body #home section#events #nearByEvents .content {
  overflow: hidden;
}
body #home section#events #nearByEvents .content #nearByMap {
  float: left;
  width: 55%;
  margin-right: 5%;
}
body #home section#events #nearByEvents .content aside {
  float: left;
  width: 40%;
}
body #home section#events #nearByEvents .content aside ul.eventsList li.event article {
  float: none;
  width: 100%;
  padding: 2em 0 0 0;
}
body #home section#events #nearByEvents .content aside ul.eventsList li.event article h3 {
  font-size: 2em;
  font-weight: bold;
  display: block;
  padding-bottom: 0.5em;
}
body #home section#events #nearByEvents .content aside ul.eventsList li.event article p {
  font-size: 1.5em;
  line-height: 1.3em;
  padding-bottom: 1em;
}
body #home section#events #nearByEvents .content aside ul.eventsList li.event article p.date {
  font-weight: bold;
}
body #home section#events #nearByEvents .content aside ul.eventsList li.event article p.date span {
  font-size: 0.8em;
  color: #666;
}
body #home section#events #nearByEvents .content aside ul.eventsList li.event article p.location {
  font-weight: bold;
}
body #home section#events #nearByEvents .content aside ul.eventsList li.event article .buttons {
  overflow: hidden;
}
body #home section#events #nearByEvents .content aside ul.eventsList li.event article .buttons .joinBtn {
  float: left;
}
body #home section#events #nearByEvents .content aside ul.eventsList li.event article .buttons .inviteBtn,
body #home section#events #nearByEvents .content aside ul.eventsList li.event article .buttons .editBtn {
  display: none;
}
body #home section#events #addNewEvent textarea {
  height: 6em;
}
body #home section#events #addNewEvent fieldset#gradelevel {
  overflow: hidden;
}
body #home section#events #addNewEvent fieldset#gradelevel ul {
  list-style-type: none;
  padding: 1em 0 0 0;
  float: left;
  width: 140px;
}
body #home section#events #addNewEvent fieldset#gradelevel ul li {
  overflow: hidden;
}
body #home section#events #addNewEvent fieldset#gradelevel ul li label {
  float: right;
  width: 120px;
  padding: 0.3em 0 0 0;
  font-size: 1.3em;
  font-weight: normal;
}
body #home section#events #addNewEvent fieldset#gradelevel ul li input {
  float: left;
}
body #home section#error {
  padding: 8em 0;
  width: 50%;
  margin: 0 auto;
}
body #home section#error h1 {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 1em;
}
body #home section#error h2 {
  font-size: 2em;
  font-style: italic;
  padding-bottom: 2em;
}
body #home section#error a {
  font-size: 1.6em;
}
body #errorPage {
  background: #000000 url('/images/home/headerbgd.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body #errorPage h1 {
  position: relative;
  top: 2em;
  left: 2em;
}
body #errorPage .content section.page {
  padding: 8em 0;
  width: 50%;
  margin: 0 auto;
}
body #errorPage .content section.page h1,
body #errorPage .content section.page h2 {
  color: #fff;
}
body #errorPage .content section.page h1 {
  position: relative;
  top: 0;
  left: 0;
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 1em;
}
body #errorPage .content section.page h2 {
  font-size: 2em;
  font-style: italic;
  padding-bottom: 2em;
}
body #errorPage .content section.page a {
  font-size: 1.6em;
}
::selection {
  background: #56acdd;
  /* Safari & Chrome */
}
::-moz-selection {
  background: #56acdd;
  /* Firefox */
}
