<section class="page" id="events">


	<nav class="subnav">
		<div class="content">

			<h1>List of Events</h1>

		    <ul>
                <li><a ui-sref=".upcoming" class="route">Upcoming</a></li>
                <li><a ui-sref=".nearby" class="route">Nearby</a></li>
				<li><a ui-sref=".addNewEvent"  class="route">Add New Event</a></li>
		    </ul>
		</div>
	</nav>
	<div ui-view>
		<section id="allEvents" class="view">
			<div class="content">
				<ul class="eventsList">
					<li class="event" ng-repeat="event in events">
						<article event></article>
						<div map class="mapWrap"></div>
					</li>
				</ul>
			</div>
		</section>
	</div>

</section>