<section class="page" id="profile">

	<nav class="subnav">
		<div class="content">
<!-- 		{{!--
			{{#if user.firstName }}
				<h1>{{user.firstName}} {{user.lastName}}</h1>
			{{else}}
				<h1>{{user.email}}</h1>
			{{/if}}
		--}}
 -->
		    <ul>
				<li><a ui-sref=".myProfile">Profile</a></li>
		        <li><a ui-sref=".myPath">My Path</a></li>
		        <li><a ui-sref=".notifications">Notifications</a></li>
		        <li><a ui-sref=".settings">Settings</a></li>
		    </ul>
		</div>
	</nav>

	<div ui-view></div>

</section>

