<section class="page" id="videos">
	<section id="videosView" class="view">
		<div id="presenter">
			<div video></div>
		</div>
		<aside>
			<ul id="peersList">

			</ul>
		</aside>
		<!--chat-->
		<div id="chat">
			<header>
				<p class="msg" id="chatmsg"></p>
				<a href="javascript:void(0);" class="toggler" id="chatToggler">open</a>
			</header>
			<div id="chatwindow">
				<ol id="chatmessages"></ol>
			</div>
			<input type="text" id="chatinput" class="commentfield" />
		</div>
		<!--end chat-->
		<a href="#" id="fullScreenBtn">full screen</a>
		<a href="#" id="leaveRoomBtn"><span>Leave Room</span></a>
	</section>
</section>