<section class="modal" id="about">
	<h1>What is OpenPath?</h1>
	<p>OpenPath enables place-based learning. It uses location-based videochat sessions to connect learners to events at museums, libraries, parks, makerspaces, and more. Check out the latest on our dev blog found at <a href="http://openpathme.tumblr.com/" target="_blank">http://openpathme.tumblr.com/</a></p>
	<iframe src="//player.vimeo.com/video/88178247" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	<br />
	<br />
	<h2>FAQ</h2>
	<p><strong>Is it free to use?</strong></p>
	<p>Yes. OpenPath is free to use.</p>
	
	<p><strong>How do I sign up?</strong></p>
	<p>Just login using an email address and a password. You can add your profile information later on OpenPath for a more personalized experience. </p>

	<p><strong>What browser do I need?</strong></p>
	<p>The Google Chrome browser has all of the technology you need built-in. The Chrome browser is available for free <a href="http://www.google.com/chrome/" target="_blank">here</a> and is available for Windows, Mac and Linux. Firefox is also supported. The WebRTC technology is still maturing, so we expect most browsers will eventually support WebRTC fully. We are working on a solution for Safari and Internet Explorer.</p>

	<p><strong>Does this work on mobile phones?</strong></p>
	<p>If you have an Android-based phone, download the latest Chrome browser. The newest browsers allow WebRTC to work. If you have an iOS device, stay tuned. The WebRTC folks are working with the Webkit folks, but it is unclear when it will be available. </p>

	<p><strong>How does this work?</strong></p>
	<p>We are using a combination of HTML5, Javascript, and WebRTC. WebRTC stands for Web “Real-Time Communication.” The <a href="http://en.wikipedia.org/wiki/World_Wide_Web_Consortium" target="_blank">World Wide Web Consortium</a> (W3C) is drafting an <a href="http://en.wikipedia.org/wiki/Application_programming_interface" target="_blank">API</a>definition to enable <a href="http://en.wikipedia.org/wiki/Web_browser" target="_blank">browser</a>-based <a href="http://en.wikipedia.org/wiki/Voice_calling" target="_blank">voice calling</a>, <a href="http://en.wikipedia.org/wiki/Video_chat" target="_blank">video chat</a> and <a href="http://en.wikipedia.org/wiki/P2P_file_sharing" target="_blank">P2P file sharing</a> without <a href="http://en.wikipedia.org/wiki/Plugins" target="_blank">plugins</a>. The WebRTC initiative is a project supported by Google, Mozilla, and Opera.</p>

	<p><strong>What is a path?</strong></p>
	<p>We all have our own interest-driven learning journey to take. Over time, your individual path is the collection of events, places, and experiences in which you&rsquo;ve participated.</p>
	<p>On OpenPath, in addition to your profile, you can create events. Events are things like an interactive docent-led museum tour that you watch because your classroom can't make it to the museum. Or an online tour you are giving of your neighborhood. We believe high-speed/high-definition experiences will make place-based interactions available to a wider audience. We are looking to tie OpenPath into the badging system (<a href="https://wiki.mozilla.org/Badges" target="_blank">https://wiki.mozilla.org/Badges</a>) efforts by a variety of institutions and foundations.</p>


	<p><strong>Can I just use it for videochat?</strong></p>
	<p>Sure you can. You can use it to hang out and share things with others. The emphasis of the site is on learning.</p>

	<p><strong>How do I find out more?</strong></p>
	<p>Contact Richard Scullin <a href="mailto:richard@mobileed.org" target="_blank">richard@mobileed.org</a> or Jared Lamenzo <a href="mailto:jared@mediatedspaces.com" target="_blank">jared@mediatedspaces.com</a></p>
	<p><stong>Follow OpenPath on Twitter: <a href="https://twitter.com/openpathme" >@openpathme</a></strong></p>
	<a href="https://twitter.com/openpathme" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @openpathme</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>