<section class="modal" id="notYetAllowed">
	<h1>OpenPath</h1>
	<p>Please click "allow" above to use your mic and camera.</p>
</section>

<section class="modal" id="saidNoToAllow">
	<h1>OpenPath</h1>
	<p>Please change your browser's video setting and reload then click "allow" above to use your mic and camera.</p>
</section>