<div class="main-tab" id="addUser">
	<form id="adduserform">
	  <fieldset>
	    <h1>Add Participants</h1>
	    <label>Email Address</label>
	    <input type="text" name="to" id="to" placeholder="">
	    <label>Subject</label>
	    <input type="text" name="subject" id="subject" value="Open Path Invitation" placeholder="">
		<textarea rows="10" name="text" id="text">
Hi,

USERNAME would like to invite you to a video session on Open Path. Click here to join:

LINK

Let's learn together!

Regards,
Open Path Team
		</textarea>

	    <button id="adduser-submit" type="submit" class="btn btn-primary">Send</button>
	  </fieldset>
	</form>
</div>