<div class="main-tab" id="events">

	<!-- BEGIN EVENTS MENU -->
    <div id="eventsmenu">
	    <h2>List of Events</h2> 
	    <nav class="subnav">
            <ul>
                <!--<li><a href="#/events/nearby">Nearby</a></li>-->
                <li><a href="#/events/upcoming" class="upcoming">Upcoming</a></li>
				<li><a href="#/events/addNew"  class="addNew">Add New Event</a></li>
            </ul>
        </nav>
    </div>

	<div class="events-single-col">
		<!-- BEGIN EVENTS LIST -->
	    <ul id="eventslist">
			<!-- Dynamically-Generated Events Go Here -->
			
	    </ul>
		<!-- END EVENTS LIST -->
		<!-- BEGIN ADD EVENT  -->
	    <div id="addEvent">
			<!-- template for form goes here -->
	    </div>
		<!-- END ADD EVENT  -->
	</div>	
</div>

<!--using underscore's templating in header of main.html cus of rendering order

<article>
	<h3><a href="'+ evt.link +'" target="_blank">' + evt.name + '</a></h3>
	<p class="time">'+evt.startTime + ' to ' + evt.endTime + '</p>
	<p class="location">'+evt.locationDescription + '</p>
	<p>' + evt.description + '</p>'+evt.location[0]+' '+evt.location[1]'+
</article>
<div class="mapWrap" id="event_'+i+'" data-lat="'+evt.location[0]+'" data-lng="'+evt.location[1]+'"></div>

-->
