<header class="main">
    <div class="content">
		<a href="#main" data-toggle="tooltip" title="videos" class="logo">
            <img id="logo" src="img/openpath.png" alt="OpenPath">
        </a>
        <nav class="main">
            <ul>
    			<li>
                    <a id="adduser-icon" href="#adduser" data-toggle="tooltip" title="Add Participants"></a>
                </li>
    			<li>
                    <a id="map-icon" href="#events" data-toggle="tooltip" title="Events"></a>
                </li>
    			<li>
                    <a id="profile-icon" href="#user" data-toggle="tooltip" title="Profile"><span class="badge badge-important">6</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
