<div id="addEventsModal" class="modal hide fade" tabindex="-1" aria-hidden="true">
	<form class="form-horizontal" id="addEvent" action="#">
		<div class="modal-header"> 
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h2>Add Event</h2>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="name">Event Name</label>
				<div class="controls">
					<input type="text" id="name" name="name" placeholder="Event Name" required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="creator">Creator</label>
				<div class="controls">
					<input type="text" id="creator" name="creator" placeholder="someone@somewhere.com" required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="description">Description</label>
				<div class="controls">
					<textarea rows="4" name="description" id="description"></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="gradelevel">Grade Level(s)</label>
				<fieldset id="gradelevel" class="controls gradelevel">
					<ul>
						<li>
							<label for="preK">Pre-K to Grade 2</label>
							<input id="preK" type="checkbox" name="gradelevel" value="Pre-K to Grade 2" />
						</li>
						<li>
							<label for="grade3_5">Grade 3-5</label>
							<input id="grade3_5" type="checkbox" name="gradelevel" value="Grade 3-5" />
						</li>
						<li>
							<label for="grade9_12">Grade 9-12</label>
							<input id="grade9_12" type="checkbox" name="gradelevel" value="Grade 9-12" />
						</li>
					</ul>
					<ul>
						<li>
							<label for="postSecondary">Post Secondary</label>
							<input id="postSecondary" type="checkbox" name="gradelevel" value="Post Secondary" />
						</li>
						<li>
							<label for="adults">Adults</label>
							<input id="adults" type="checkbox" name="gradelevel" value="Adults" />
						</li>
						<li>
							<label for="families">Families</label>
							<input id="families" type="checkbox" name="gradelevel" value="Families" />
						</li>
					</ul>
				</fieldset>
			</div>
			<div class="control-group">
				<label class="control-label" for="location">Location</label>
				<div class="controls">
					<input type="text" name="location" id="location" required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="starttime">Start Time</label>
				<div class="controls">
					<div class="well">
						<div id="starttime" class="input-append">
							<input data-format="MM/dd/yyyy HH:mm:ss PP" class="startTime" type="text" name="startTime" required ></input>
							<span class="add-on">
								<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="endtime">End Time</label>
				<div class="controls">
					<div class="well">
						<div id="endtime" class="input-append">
							<input data-format="MM/dd/yyyy HH:mm:ss PP" class="endTime" type="text" name="endTime" required></input>
							<span class="add-on">
								<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="reset" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button type="submit" class="btn btn-primary" id="addEventBtn">Save Event</button>
		</div>
	</form>
</div>
