<div class="main-tab" id="videos">
	<div class="col1">
		<div id="presenterVideo">
			<!-- main video instance here-->
		</div>
		<!-- BEGIN CHAT -->
	    <div id="chat">
			<header>
				<p class="msg"></p>
				<a href="javascript:void(0);" class="toggler">open</a>
			</header>
	    	<div id="chatwindow">
	        	<ol id="chatmessages"></ol>
		  	  </div>
		  <input type="text" id="chatinput" class="commentfield" />
	    </div>
		<!-- END CHAT -->
	</div>
	<div class="col2" id="userVideos">
		<!-- video instances here-->
	</div>
</div>