<div class="user-tab" id="notifications">
	<div class="usertab-single-col">
	<form>
	  <fieldset>
		<ul>
			<li><b>New event on NY Central Park about bird watching <span class="text-right">2 mins ago</span></b></li>
			<li><b>Your event - "New York Museum Tour" is starting in 1 hour <span class="text-right">15 mins ago</span></b></li>
			<li>There are 2 events near you next week <span class="text-right">2 days ago</span></li>
			<li>Jared has joined "Bird Watching Tour" in Central Park <span class="text-right">5 days ago</span></li>
		</ul>
	</fieldset>
	</form>
	</div>
</div>
