<div class="main-tab" id="user">
	<!-- BEGIN USER MENU -->
    <div id="usermenu">
        <div class="col50 left">
            <div class="userIcon">
				<img src="img/user-icon.png" alt="User">
			</div>
            <h1 id="profileUsername"></h1>
        </div>
        <div class="col50 right">
            <nav id="usernav" class="subnav">
                <ul>
					<li class="active"><a data-toggle="" href="#/user/profile">Profile</a></li>
                    <li><a data-toggle="" href="#/user/mypath">My Path</a></li>
                    <!--<li><a data-toggle="" href="#/user/notifications">Notifications</a></li>-->
                    <li><a data-toggle="" href="#/user/settings">Settings</a></li>
                </ul>
            </nav>
        </div>
    </div>
	<!-- END USER MENU -->
	<!-- BEGIN USER TAB-CONTENT -->
	<div class="tabs">
		
		<!--user profile-->
		<div class="user-tab active" id="profile">
			<div class="usertab-single-col">
			</div>
			<a id="logout" class="btn" href="#">Logout</a>
		</div>
		
		{% include "main/main.user.mypath.html" %}
		
		{% include "main/main.user.notifications.html" %}
		
		<!--user settings-->
		<div class="user-tab" id="settings">
			<div class="usertab-single-col">
			</div>
		</div>
		
	</div>
	<!-- END USER TAB-CONTENT -->
</div>

