<div class="tab-pane main-tab" id="user">
	<!-- BEGIN USER MENU -->
    <div id="usermenu">
        <div class="col50 left">
            <div class="userIcon">
				<img src="img/user-icon.png" alt="User">
			</div>
            <h1 id="profileUsername"></h1>
        </div>
        <div class="col50 right">
            <nav id="usernav" class="subnav">
                <ul>
					<li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
                    <li><a data-toggle="tab" href="#mypath">My Path</a></li>
                    <li><a data-toggle="tab" href="#notifications">Notifications</a></li>
                    <li><a data-toggle="tab" href="#settings">Settings</a></li>
                </ul>
            </nav>
        </div>
    </div>
	<!-- END USER MENU -->
	<!-- BEGIN USER TAB-CONTENT -->
	<div class="tab-content">
		
		{% include "main/main.user.profile.html" %}
		
		{% include "main/main.user.mypath.html" %}
		
		{% include "main/main.user.notifications.html" %}
		
		{% include "main/main.user.settings.html" %}
		
	</div>
	<!-- END USER TAB-CONTENT -->
</div>

