<div class="main-tab" id="videos">
	<div class="col1">
		<div id="video">
			<video id="main_videoplayer" width="100%" height="auto" poster="img/poster.png" autoplay controls>
	    		Your browser does not support the video tag.
			</video>
		</div>
	</div>
	<div class="col2">
		<div class="userVideo">
        	<div class="usermeta">
				<div class="username">
					<a href="#" id="username1"></a>
					<div class="icon-map-marker">
						<span class="icon-remove"></span>
					</div>
				</div>
				<div id="userlocation1" class="userlocation"></div>
				<div id="usermap1" class="usermap"></div>
            </div>
            <video id="self_videoplayer" class="avatar" width="240" height="auto" poster="img/poster.png" muted autoplay></video>
        </div>
		<div class="userVideo">
        	<div class="usermeta">
				<div class="username">
					<a href="#" id="username2"></a>
					<div class="icon-map-marker">
						<span class="icon-remove"></span>
					</div>
				</div>
				<div id="userlocation2" class="userlocation"></div>
				<div id="usermap2" class="usermap"></div>
            </div>
            <video id="other_videoplayer2" class="avatar" width="240" height="auto" poster="img/poster.png" muted autoplay></video>
        </div>
        <div class="userVideo">
        	<div class="usermeta">
				<div class="username">
					<a href="#" id="username3"></a>
					<div class="icon-map-marker">
						<span class="icon-remove"></span>
					</div>
				</div>
				<div id="userlocation3" class="userlocation"></div>
				<div id="usermap3" class="usermap"></div>
            </div>
            <video id="other_videoplayer3" class="avatar" width="240" height="auto" poster="img/poster.png" muted autoplay></video>
        </div>
        <div class="userVideo">
        	<div class="usermeta">
				<div class="username">
					<a href="#" id="username4"></a>
					<div class="icon-map-marker">
						<span class="icon-remove"></span>
					</div>
				</div>
				<div id="userlocation4" class="userlocation"></div>
				<div id="usermap3" class="usermap"></div>
            </div>
            <video id="other_videoplayer4" class="avatar" width="240" height="auto" poster="img/poster.png" muted autoplay></video>
        </div>
	</div>

	<!-- BEGIN CHAT -->
    <div id="chat">
    	<div id="chatwindow">
        	<ol id="chatmessages"></ol>
	  	  </div>
	  <input type="text" id="chatinput" class="commentfield" />
    </div>
	<!-- END CHAT -->  		

</div>