<!--event template-->
<script id="eventTemplate" type="text/template">
	<article>
		<h3><a href="#" target="_blank"><%= name %></a></h3>
		<p class="link"><a href="<%= websiteLink %>"><%= websiteLink %></a></p>
		<p class="date"><%= OpenPath.utils.convertTimeStampToDate(date) %></p>
		<p class="location"><%= location.formatted_address %></p>
		<p><%= description %></p>
		<div class="buttons">
			<button class="btn btn-primary" id="join">Join</button>
			<% if (typeof(date) != "undefined") { %>
			    <span class="date"><%= date %></span>
			<% } %>
		</div>
	</article>
	<div class="mapWrap"></div>
</script>


<!--event add-->
<script id="addEventTemplate" type="text/template">
	<form id="addEventForm">
		<fieldset>
			<label for="name">Event Name:</label>
			<input type="text" id="name" name="name" placeholder="Event Name" required />
		</fieldset>
		<fieldset>
			<label for="websiteLink">Website Link:</label>
			<input type="text" id="websiteLink" name="websiteLink" required />
		</fieldset>
		<fieldset>
			<label for="date">Date:</label>
			<input type="date" id="date" />
		</fieldset>
		<fieldset>
			<label for="location">Location:</label>
			<input type="text" id="location" name="location" required />
		</fieldset>
		<fieldset id="gradelevel" class="gradelevel">
			<label for="gradelevel">Grade Level(s)</label>
			<ul>
				<li>
					<label for="preK">Pre-K to Grade 2</label>
					<input id="preK" type="checkbox" name="gradelevel" value="Pre-K to Grade 2" />
				</li>
				<li>
					<label for="grade3_5">Grade 3-5</label>
					<input id="grade3_5" type="checkbox" name="gradelevel" value="Grade 3-5" />
				</li>
				<li>
					<label for="grade6_8">Grade 6-8</label>
					<input id="grade6_8" type="checkbox" name="gradelevel" value="Grade 6-8" />
				</li>
				<li>
					<label for="grade9_12">Grade 9-12</label>
					<input id="grade9_12" type="checkbox" name="gradelevel" value="Grade 9-12" />
				</li>
			</ul>
			<ul>
				<li>
					<label for="postSecondary">Post Secondary</label>
					<input id="postSecondary" type="checkbox" name="gradelevel" value="Post Secondary" />
				</li>
				<li>
					<label for="adults">Adults</label>
					<input id="adults" type="checkbox" name="gradelevel" value="Adults" />
				</li>
				<li>
					<label for="families">Families</label>
					<input id="families" type="checkbox" name="gradelevel" value="Families" />
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<label for="description">Description:</label>
			<textarea id="description" name="description"></textarea>
		</fieldset>
		<fieldset>
			<button type="submit" class="btn btn-primary" id="addEventBtn">Save Event</button>
		</fieldset>
	</form>
</script>

<!--userProfile template-->
<script id="userProfileTemplate" type="text/template">
	<a class="editProfileBtn" href="#/user/edit-profile">Edit</a>
		
	<article class="gradelevel">
		<h2>Grade Level:</h2>
		<div class="results"><%= grade %></div>
	</article>
	<article class="interests">
		<h2>Interests:</h2>
		<div class="results">
			<% _.each(interests, function(i) { %>  <%= i %> <% }); %>
		</div>
	</article>
	<article class="colearners">
		<h2>List of Co-Learners:</h2>
		<div class="results"></div>
	</article>
</script>


<!--editUserProfile template-->
<script id="editUserProfileTemplate" type="text/template">
	<div class="profileIntro">
		<p><strong>Welcome to Open Path!</strong></p>
		<p><strong>To get recommendations based on your interests, simply fill in something about yourself:</strong></p>
	</div>
	<form>
		<div class="userIcon">
			<!--<fieldset>
				<input type="file" name="userIcon"/>
			</fieldset>-->
		</div>
		<fieldset class="name">
			<input type="text" name="firstName" class="firstName" placeholder="first name" value="<%= name.first %>" />
			<input type="text" name="lastName" class="lastName" placeholder="last name" value="<%= name.last %>" />
		</fieldset>
		<fieldset>
			<label>Grade Level:</label>
			<select name="gradelevel" class="gradelevel">
				<option value="Pre-K to Grade 2">Pre-K to Grade 2</option>
				<option value="Grade 3-5">Grade 3-5</option>
				<option value="Grade 9-12">Grade 9-12</option>
				<option value="Post Secondary">Post Secondary</option>
				<option value="Adults">Adults</option>
				<option value="Families">Families</option>
			</select>
		</fieldset>
		<fieldset>
			<label>Interests:</label>
			<input type="text" class="interests" name="interests" data-provide="tag" value="<% _.each(interests, function(i) { %>  <%= i %> <% }); %>" />

		</fieldset>
		<fieldset>
			<label>List of Co-Learners:</label>
			<input type="text" class="colearners" name="colearners" data-provide="tag" />
		</fieldset>
		
		<p class="required"><small><em>*Required</em></small></p>
		<fieldset class="done">
			<button type="submit" class="btn btn-primary">Done</button>
		</fieldset>
	</form>
	
</script>

<!--userSettingsTemplate template-->
<script id="userSettingsTemplate" type="text/template">
	<form>
		<article>
			<h2 class="muted">Receive alerts when...</h2>
			<fieldset>
				<input type="checkbox" id="alertsColearnerJoin" name="alertsColearnerJoin" />
				<label class="checkbox" for="alertsColearnerJoin">Co-learner joins event</label>
			</fieldset>
			<fieldset>
				<input type="checkbox" id="alertsNearEvent" name="alertsNearEvent" />
				<label class="checkbox" for="alertsNearEvent">Near an event you might be interested in</label>
			</fieldset>
			<fieldset>
				<input type="checkbox" id="alertsAllEvents" name="alertsAllEvents" />
				<label class="checkbox" for="alertsAllEvents">All events you might be interested in</label>
			</fieldset>
		</article>
		<article>
			<h2 class="muted">Set profile as...</h2>
			<fieldset>
				<input type="radio" id="profileAccessPublic" name="profileaccess" value="public" />
				<label class="checkbox" for="profileAccessPublic">Public</label>
			</fieldset>
			<fieldset>
				<input type="radio" id="profileAccessPrivate" name="profileaccess" value="private" />
				<label class="checkbox" for="profileAccessPrivate">Private</label>
			</fieldset>
		</article>
		<fieldset>
			<button type="submit" class="btn btn-primary">Save</button>
		</fieldset>
		<article class="saved">
			<p>Your settings have been saved.</p>
		</article>
	</form>
</script>