<div id="chat">
	<header>
		<p class="msg"></p>
		<a href="javascript:void(0);" class="toggler">open</a>
	</header>
	<div id="chatwindow">
		<ol id="chatmessages"></ol>
	</div>
	<input type="text" id="chatinput" class="commentfield" />
</div>