<!-- events front end template (remember \{{ }} ) -->
<script id="videoTemplate" type="text/x-handlebars-template">

	<div class="video">
		<div class="usermeta">
			<header>
				<div class="closeBtn"></div>
				<div class="mapBtn"></div>
				<div class="username">\{{ name }}</div>
			</header>
			<div class="mapWrap">
				<div class="locactionName">Map</div>
				<div class="map"></div>
			</div>
		</div>
		
		<video class="video" muted="\{{ mute }}" autoplay="true"></video>
	</div>

</script>