<section id="editProfile" class="view">
	<div class="content">

		<div class="profileIntro" ng-if="!user.firstName">
			<p><strong>Welcome to Open Path!</strong></p>
			<p><strong>To get recommendations based on your interests, simply fill in something about yourself:</strong></p>	
		</div>

		<form action="/profile" method="post" onkeypress="return OpenPath.Utils.checkEnter(event)">
			<header class="name">
				<div class="userIcon">
					<fieldset>
						<input type="file" name="userIcon" />
					</fieldset>
				</div>
				<fieldset class="name">
					<input type="text" name="firstName" class="firstName" placeholder="first name" value="{{user.firstName}}" />
					<input type="text" name="lastName" class="lastName" placeholder="last name" value="{{user.lastName}}" />
				</fieldset>
			</header>
			<fieldset>
				<label>Grade Level:</label>
				<select name="gradeLevel" class="gradelevel" ng-model="defaultOption" 
					ng-init="defaultOption = user.gradeLevel || gradeLevelOptions[0].value"
					ng-options="option.value as option.name for option in gradeLevelOptions">
				</select>
			</fieldset>
			<fieldset>
				<label>Interests: <small><em>(comma separated)</em></small></label>
				<input type="text" class="interests" name="interests" value="{{interests}}" />
			</fieldset>
			<fieldset>
				<label>List of Co-Learners:</label>
				<input type="text" class="colearners" name="colearners" value="{{user.colearners}}" />
			</fieldset>
			
			<p class="required"><small><em>*Required</em></small></p>
			<fieldset class="done">
				<button type="submit" class="btn btn-primary">Done</button>
			</fieldset>
		</form>
	</div>
</section>

<!-- events front end template (remember \{{ }} ) -->
<script id="EditProfileTemplate" type="text/x-handlebars-template">

</script>
