<section id="myProfile" class="view">
	<div class="content">
		<a href="#/edit-profile" class="route editBtn">Edit</a>
		<header>
			<div class="avatar">
				<img src="">
			</div>
		</header>
		<article>
			<h3 class="label">Grade Level:</h3>
			<div class="results">
			</div>
		</article>
		<article>
			<h3 class="label">Interests:</h3>
			<div class="results">
			</div>
		</article>
		<article>
			<h3 class="label">List of Co-Learners:</h3>
			<div class="results">
			</div>
		</article>

		<a href="/logout" class="logoutBtn btn">Logout</a>
	</div>
</section>


