<section id="addNewEvent" class="view">
	<div class="content">
		<form action="/events" method="post">
			<fieldset>
				<label for="name">Event Name:</label>
				<input type="text" id="name" name="name" placeholder="Event Name" required />
			</fieldset>
			<fieldset>
				<label for="link">Website Link:</label>
				<input type="text" id="link" name="link" />
			</fieldset>
			<fieldset>
				<label for="date">Date:</label>
				<input type="date" id="date" name="date" required />
			</fieldset>
			<fieldset>
				<label for="startTime">Start Time:</label>
				<input type="time" id="startTime" name="startTime" required />
			</fieldset>
			<fieldset>
				<label for="endTime">End Time:</label>
				<input type="time" id="endTime" name="endTime" required />
			</fieldset>
			<fieldset>
				<label for="location">Location:</label>
				<input type="text" id="location" name="location" required />
				<input type="hidden" id="longitude" name="longitude" />
				<input type="hidden" id="latitude" name="latitude" />

			</fieldset>
			<fieldset id="gradelevel" class="gradelevel">
				<label for="gradelevel">Grade Level(s)</label>
				<ul>
					<li>
						<label for="preK">Pre-K to Grade 2</label>
						<input id="preK" type="checkbox" name="gradelevel" value="Pre-K to Grade 2" />
					</li>
					<li>
						<label for="grade3_5">Grade 3-5</label>
						<input id="grade3_5" type="checkbox" name="gradelevel" value="Grade 3-5" />
					</li>
					<li>
						<label for="grade6_8">Grade 6-8</label>
						<input id="grade6_8" type="checkbox" name="gradelevel" value="Grade 6-8" />
					</li>
					<li>
						<label for="grade9_12">Grade 9-12</label>
						<input id="grade9_12" type="checkbox" name="gradelevel" value="Grade 9-12" />
					</li>
				</ul>
				<ul>
					<li>
						<label for="postSecondary">Post Secondary</label>
						<input id="postSecondary" type="checkbox" name="gradelevel" value="Post Secondary" />
					</li>
					<li>
						<label for="adults">Adults</label>
						<input id="adults" type="checkbox" name="gradelevel" value="Adults" />
					</li>
					<li>
						<label for="families">Families</label>
						<input id="families" type="checkbox" name="gradelevel" value="Families" />
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<label for="description">Description:</label>
				<textarea id="description" name="description"></textarea>
			</fieldset>
			<fieldset>
				<button type="submit" class="btn">Save Event</button>
			</fieldset>
		</form>
	</div>
</section>