#addNewEvent {

	textarea {
		height:6em;
	}

	fieldset#gradelevel  {
		overflow: hidden;
		ul {
			list-style-type: none;
			padding:1em 0 0 0;
			float:left;
			width:140px;
			li {
				overflow:hidden;
				label {
					float:right;
					width:120px;
					padding:0.3em 0 0 0;
					font-size:1.3em;
					font-weight: normal;
				}
				input {
					float:left;
				}
			}
		}
	}
}