.modalWrap {
	display: none;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.7);
	z-index:10;
	.modalContent {
		background:#fff;
		position: absolute;
		width:100em;
		top:5em;
		left:50%;
		margin-left: -50em;
		.box-sizing(border-box);
		.border-radius(1em);
		padding:4em;
		a.closeBtn {
			position: absolute;
			top:2em;
			right:2em;
			text-indent: -9999px;
		}
		section.modal {
			display: none;
			h1 {
				font-size:3em;
				color:@grey;
				padding-bottom: 1rem;
			}
			h2 {
				font-size:2em;
				padding-bottom: 1rem;
			}
			p {
				.pNormal();
				padding-bottom: 1em;
			}
			ul,
			ol {
				padding:0 0 1em 3em;
				list-style-type: disc;
				li {
					.pNormal();
					padding-bottom: 1em
				}
			}
		}		
	}
}