





/**
 * settings
 */
#settings {
	form {
		article {
			fieldset {
				overflow:hidden;
				label {
					float:left;
				}
				input {
					float:left;
				}
				input[type="radio"] {
					margin:0 0 0 3px;
				}
			}
		}
		article.saved {
			margin:10px 0 0 0;
			color:#999999;
		}
	}	
}