/**
 * subnav
 */
nav.subnav {
	background:#f6f6f6;
	.content {
		overflow:hidden;
		
		h1 {
			float:left;
			font-size:2em;
			font-weight:bold;
		}
		ul {
			padding:2em 0;
			float:right;
			li {
				display:inline-block;
				border-right:0.2em solid #949494; 
				padding:0 1em; 
				text-align:center;
				a {
					font-weight:bold;
					color:#949494;
					font-size:1.8em;
				}
				a.active,
				a:hover {
					color:rgba(27,27,27,1);
				}
			}
			li:last-child{
				border-right:none;
			}
		}
	}
}