#videosView {
	width: 100%;
	padding: 0;
	background:#000;
	overflow: hidden;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	z-index: 0;

	/**
	 * video mixin
	 */
	.video(){
		.box-sizing(border-box);

		background-image: url('/images/poster.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		.video{
			position: relative;
			width:100%;
			video {
				width:100%;
				height:100%;
			}
		}
	}
	/**
	 * usermeta
	 */
	.usermeta {
		position: absolute;
		width:90%;
		height:90%;
		top:5%;
		left:5%;
		z-index:1;
		background:@blackTransulcent;
		.fade(0.5s);

		header{
			overflow: hidden;
			padding:0.6em 1em 0.4em 1em;
			background:@blackTransulcent;
			position: relative;
			top:0;
			left:0;
			z-index:1;

			.closeBtn {
				float:right;
				background-image: url('/images/close-icon.png');
				background-repeat: no-repeat;
				width:10px;
				height:11px;
				padding-bottom: 6px; //so same height as mapBtn
				position: relative;
				top:3px;
				font-size: 1.3em;
				font-weight: bold;
				cursor: pointer;
				.fade(0.5s);
				opacity:0.7;
				display: none;
			}
			.closeBtn:hover {
				opacity: 1;
			}
			.mapBtn {
				float:right;
				background-image: url('/images/map-icon.png');
				background-repeat: no-repeat;
				width:12px;
				height:17px;
				cursor: pointer;
				.fade(0.5s);
				opacity:0.7;
			}
			.mapBtn:hover {
				opacity: 1;
			}
			.username {
				color:#fff;
				float:left;
				font-size: 1.8em;
				font-weight: bold;
			}
		}
		.mapWrap {
			.fade(0.5s);
			padding:0.4em 1em;
			height:75%;
			position: relative;
			z-index:0;


			.locactionName {
				color:#fff;
				float:left;
				font-size: 1.2em;
			}
			.map {
				position: absolute;
				top:0;
				left:0;
				bottom:0;
				right:0;
			}
		}
	}
	#presenter,
	aside {
		float: left;
		height: 100%;
	}
	#presenter {
		width:75%;
		.video();
		.usermeta {
			top:100px;
			width:45%;
			height:40%;
		}
	}
	aside {
		width:25%;

		ul#peersList {
			height: 100%;
			li {
				.video();
				height:25%;
			}
		}
	}

	/*#chat*/
	#chat {
		position:absolute;
		width:75%;
		bottom:-225px;
		z-index:11;
		background:@blackTransulcent;
		.transition(~"bottom 0.3s ease-in-out"); 
		header {
			overflow:hidden;
			padding:0.8em 1em;
			cursor: pointer;
			p.msg {
				float:left;
				color:#d6d6d6;
				font-size:1.8em;
				padding:0 0 0 10px;
				margin:0;
			}
			p.blink {
				//-webkit-animation-name: blink;
				//-webkit-animation-duration:20s;
				//-webkit-animation-iteration-count: 1;
				//-webkit-animation-timing-function: ease-out;  
				//-webkit-animation-fill-mode: forwards;
				-webkit-animation: blink 2s infinite;
			}
			@-webkit-keyframes blink {
				0% {
					opacity:1;
				}
				
				50% {
					opacity:0.3;
				}
				
				100% {
					opacity:1;
				}
			}
			a.toggler {
				background: url('/images/sprite-chat-icon.png') no-repeat scroll 0 -12px;
				width: 12px;
				height: 12px;
				float:right;
				text-indent:-9999px;
			}
		}
		#chatwindow{
			/*height:42.96875%; max-width:240px;*/ 
			height:130px; 
			overflow:auto; 
			padding:0 10px 0 20px; 
			/*background:#ebeae7;*/
			strong{
				font-weight:normal;
			}
			ol{
				margin:0;
				padding:0;
				li{
					display:block;
					list-style:none;
					padding:7px 0;
					font-size:1.3em;
					color:#fff;
					span {
						font-weight:bold;
					}
				}
				li.me span {color:#3e9ed5;}
				li.other span {color:#d53e5e;}
				li.server {
					color:#777;
					span {
						color:#747474;
					}
				}
			}
		}
		input.commentfield{
			width:90%;
			padding:10px;
			/*max-width:215px; */
			margin:25px 10px 35px 20px;
		}

	}
	/*chat open*/
	#chat.open {
		bottom:0;
		header {
			a.toggler {
				background-position: 0 0;
			}
		}
	}


}